
@{
    ViewBag.Title = "create";
    var regionList = ViewBag.regionList as IEnumerable<SelectListItem>;
}


<h1 class="margin15">Add Powerpoint</h1>

<div class="cmsForm">
@using (Html.BeginForm("Create", "Powerpoint", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <label>Region: </label><br />

    @Html.DropDownList("region", regionList, new { @class = "form-control", style = "width: 300px !important; margin-bottom:10px;" })

    <br />
    <label>Title</label>
    <input type="text" class="form-control" name="DisplayText" required />

    <label>Code</label>
    <input type="text" class="form-control" name="ppttype" required />

    <label>Powerpoint File <span style="font-size:11px;">(NOTE: up to 60MB only)</span></label>
    
        <input class="fl" type="file" name="pptFile" required />


        <button class="btnSubmit btn btn-lg btn-primary btn-block" type="submit">PUBLISH</button>
}
    
