@model CMSMvcApplication.CMSServiceReference.FreePPT
@{
    ViewBag.Title = "edit";
    var regionList = ViewBag.regionList as IEnumerable<SelectListItem>;
}

<h1 class="margin15">Edit Powerpoint</h1>

<div class="cmsForm">
    @using(Html.BeginForm("Edit","Powerpoint", FormMethod.Post, new{enctype="multipart/form-data"}))
{
        <label>Region: </label><br />
       
        @Html.DropDownList("region", regionList, new { @class = "form-control", style = "width: 300px !important; margin-bottom:10px;" })
        <br />
        <label>Title</label>

    <input type="text" class="form-control" value="@Model.DisplayText" name="DisplayText" required /> @*sample lng to*@
        
        <label>Code</label>
        <input type="text" class="form-control" name="ppttype" value="@Model.PPTType" required/>
        
        <label>Current File: @Model.FileName</label>
        
        <label>Powerpoint File:</label>
        <input class="fl" type="file" name="pptFile" />  

        <button class="btnSubmit btn btn-lg btn-primary btn-block" type="submit">UPDATE</button>

}

 </div>
