@{
    ViewBag.Title = "EditLearnMore";
}


<h1 class="margin15">Edit Page</h1>

<div class="cmsForm">
    <label>Page Title*</label>
    <input type="text" class="form-control" placeholder="" value="Learn More" autofocus="">
    <label>Content</label>
    <textarea class="field span12 form-control" id="textarea" rows="15" cols="49" placeholder="">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non imperdiet turpis, et tincidunt arcu. Morbi sed euismod sapien, sed auctor dui. Donec pellentesque volutp at risus et cursusiaculis viverra.

        Nam lobortis sollicitudin magna nec pretium. Sed porta arcu placerat massa pharetra, nec sodales ante ullamcorper. In adipiscing est non mauris tincidunt, non pretium est ullamcorper. Nulla in nisi orci. Nunc condimentum molestie porttitor. Integer cursus lectus nec venenatis consequat. Nam turpis mi, tincidunt vel eros a, congue fringilla dui. Mauris et tellus et purus cursus elementum in a eros. Curabitur sem lacus, convallis in quam non, congue lobortis lorem. Integer ut ligula dapibus, tincidunt augue in, malesuada lacus. Vivamus blandit erat sit amet condimentum bibendum.

        Nam eu porta diam, at feugiat lacus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In hendrerit sem at ipsum molestie porta. Proin a fermentum quam.Nam mattis, libero quis luctus egestas, quam enim tincidunt lorem, nec fringilla tortor nulla at est. Vivamus vel lorem dictum, aliquam arcu id, vehicula velit. Sed porttitor orci vitae sapien cursus rutrum.
    </textarea>
    <button class="btnSubmit btn btn-lg btn-primary btn-block" type="submit">UPDATE</button>

</div>