@model CMSMvcApplication.AccountServiceReference.Account
@{
    ViewBag.Title = "EditProfile";
}

<h1 class="margin15">Edit Profile</h1>
@using (@Html.BeginForm("editprofile", "home"))
{
    <div class="cmsForm selectBdate">
        <label><b>First Name</label>
        <input type="text" class="form-control" value="" autofocus="" name="First Name">

        <label>Last Name</label>
        <input type="text" class="form-control" value="" autofocus="" name="Last Name">

        <label>Birthdate(dd-mm-yy): <span style="color:#F8981D !important;">10/21/1987</span></label>
        <input type="text" id="popupDatepicker" class="form-control" placeholder="Click to choose date" name="datefrom" value="" />

        <label>Contact No</label>
        <input type="text" class="form-control" value="" autofocus="" name="Contact No">

        <label>Address</label>
        <input type="text" class="form-control" value="" autofocus="" name="Address">

        <label>Email Address</label>
        <input type="text" class="form-control" value="" autofocus="" name="Email Address">

        <button class="btnSubmit btn btn-lg btn-primary btn-block" type="submit">UPDATE</button>
        <br />
    </div>
}