@{
    ViewBag.Title = "CMS Safety On Demand - Home";

}


<h1 class="margin15">Welcome User</h1>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non imperdiet turpis, et tincidunt arcu. Morbi sed euismod sapien, sed auctor dui. Donec pellentesque volutpat risus et cursus. Donec id malesuada ipsum. <br><br>

    In ornare lectus elementum, elementum libero ac, faucibus turpis. Aliquam vitae porta lectus.
</p>