@{
    ViewBag.Title = "Profile1";
}

<h1 class="margin15">My Profile  <a class="editProfile" href="editProfile.html">(edit profile)</a></h1>
<p><b>Name:</b> Ben James</p>
<p><b>Birthdate:</b> March 17, 1990</p>
<p><b>Age:</b> 23</p>
<p><b>Contact No:</b> 09271234567</p>
<p><b>Address:</b> 216D Kalaayan St. Taguig City</p>
<p><b>Email Address:</b> benjames@gmail.com</p>
