@{
    ViewBag.Title = "AddPrice";

    var RegionList = ViewBag.RegionList as IEnumerable<SODAPortalMvcApplication.PortalServiceReference.Region>;
    //set input names
}

<div class="portalWrap border">
   
    <div class="portalCont margin15">
        <h2>Add Price</h2>
        <form class="portalForm">
            <!-- Script by hscripts.com -->
            <label>Region:</label>
            <select class="form-control" name="" id="regionlist" onkeydown="regionlists', event)">
                <option selected="selected" value="-1">Select a region</option>
                <option value="-2">--------------------------------------------</option>
                <option value="21%">NSW Sydney</option>
                <option value="29%">NSW regional</option>
                <option value="2%">NSW (all)</option>
                <option value="71%">VIC Melbourne</option>
                <option value="79%">VIC regional</option>
                <option value="7%">VIC (all)</option>
                <option value="41%">QLD Brisbane</option>
                <option value="49%">QLD regional</option>
                <option value="4%">QLD (all)</option>
                <option value="51%">SA Adelaide</option>
                <option value="59%">SA regional</option>
                <option value="5%">SA (all)</option>
                <option value="81%">WA Perth</option>
                <option value="89%">WA regional</option>
                <option value="8%">WA (all)</option>
                <option value="6%">Tasmania (all)</option>
                <option value="3%">NT (all)</option>
                <option value="1%">ACT (all)</option>
            </select>
            <!-- Script by hscripts.com -->

            <label><b>Price*</label>
            <input type="text" class="form-control" value="">
            <label>Is first month free?</label><br>
            <input type="radio" name="monthFree"> Yes <input type="radio" name="monthFree"> No
            <br>
            <button class="btnSubmit btn btn-lg btn-primary btn-block" type="submit">PUBLISH</button>
            <br><br>
        </form>
    </div>
</div>
