@{
    ViewBag.Title = "AddPrice";

    var RegionList = ViewBag.RegionList as IEnumerable<SODAPortalMvcApplication.PortalServiceReference.Region>;
    
    //set input names
}


  <div class="portalWrap border">

    @RenderPage("adminmenu.cshtml")

    <div class="portalCont margin15">
        <h2>Add Price</h2>
        @using (@Html.BeginForm("addprice", "admin", FormMethod.Post, new { @class = "portalForm" }))
        {
            @Html.ValidationSummary();
            <!-- Script by hscripts.com -->
            <label>Region:</label>
            <select class="form-control" name="Region" required>
                <option selected="selected" value="-1">Select a region</option>
                @foreach (var region in RegionList)
                {
                    var culture = SODAPortalMvcApplication.ViewModel.VerifyModel.getCultureInfo(region.Currency);
                    var ri =  new System.Globalization.RegionInfo(culture.LCID);
                    <option value=@region.Id>@string.Format("{0} (Currency {1})",region.RegionName,ri.ISOCurrencySymbol)</option>
                }

            </select>
            <!-- Script by hscripts.com -->
            
            <label><br />Price per month* </label>
            <input type="number" class="form-control" name="Price" value="" required>
            <label><br />Price per 3 months*</label>
            <input type="number" class="form-control" name="Price3" value="" required>
            <label><br />Price per 6 months*</label>
            <input type="number" class="form-control" name="Price6" value="" required>
            <label><br />Service charge code*</label>
            <input type="number" class="form-control" name="serviceCharge" value="" required>
            
                @*<label>Is first month free?</label><br />
                <div class="fl" style="margin-right:10px;"><input type="radio" name="monthFree" value="yes" checked="checked"/> Yes</div>
                <div class="fl"><input type="radio" name="monthFree" value="no"/> No</div>*@
            
            <br />
            <br />
      
            
            <button class="btnSubmit btn btn-lg btn-primary btn-block" type="submit">PUBLISH</button>
            <br /><br />
        }
    </div>
</div>

