@{
    ViewBag.Title = "AddRegion";
     //USD,
     //       EUR,
     //       AUD,
     //       GBP
}

<div class="portalWrap border">
    
    @RenderPage("adminmenu.cshtml")

    <div class="portalCont margin15">
        <h2>Add Region</h2>
        @using (@Html.BeginForm("addregion", "admin", FormMethod.Post))
        {
            @Html.ValidationSummary()
            <!-- Script by hscripts.com -->
            <label>Region:</label>
            <input style="width:70%;" type="text" class="form-control" name="RegionName" required>
            <label>Currency:</label>
           @* <input style="width:70%;" type="text" class="form-control" name="RegionCurrency">*@
            <!-- Script by hscripts.com -->
             <select class="form-control" name="currency">
                <option selected="selected" value="">Select Currency</option>
                 <option value="AUD">AUD</option>
                 <option value="USD">USD</option>
                 <option value="GBP">GBP</option>
                 <option value= "EUR">EUR</option>
              </select>
            <br />

            <button class="btnSubmit btn btn-lg btn-primary btn-block" type="submit">PUBLISH</button>
            <br><br>
        }
    </div>
</div>
