@{
    ViewBag.Title = "addsalescode";
    //set name attribute in input tags
}

<div class="portalWrap border">
    
   @RenderPage("adminmenu.cshtml")

    <div class="portalCont margin15">
        <h2>Add Sales Code</h2>
        @using (@Html.BeginForm("addsalescode", "admin", FormMethod.Post , new { @class = "portalForm"}))
        {
          @Html.ValidationSummary()
            <label>Sales Code:</label>
            <input type="text" class="form-control" name="SalesCode" value="" required>
           
            <button class="btnSubmit btn btn-lg btn-primary btn-block" type="submit">PUBLISH</button>
            <br><br>
        }
    </div>
</div>
