@{
    ViewBag.Title = "addsalescode";
    //set name attribute in input tags
}

<div class="portalWrap border">
    
    @*admin menu goes here*@

    <div class="portalCont margin15">
        <h2>Add Sales Code</h2>
        <form class="portalForm">
            <!-- Script by hscripts.com -->
            <label>Sales Code:</label>
            <input type="text" class="form-control" value="">
            <!-- Script by hscripts.com -->



            <button class="btnSubmit btn btn-lg btn-primary btn-block" type="submit">PUBLISH</button>
            <br><br>
        </form>
    </div>
</div>
