@model SODAPortalMvcApplication.ViewModel.changePasswordModel
@{
    ViewBag.Title = "changePassword";
    var username = Session["Username"].ToString().Substring(0, Session["Username"].ToString().IndexOf('@'));

}

<style>
    label {
        width:100% !important;
    }

    .validation-summary-errors {
        text-align: left;
    }

        .validation-summary-errors ul {
            list-style:disc;
            margin: auto;
            padding-left: 2em;
        }
</style>

<div class="container row portalContainer">

    <div class="portalWrap displayInline border">
        @RenderPage("adminmenu.cshtml")


        <div class="portalCont margin15">
            <div class="portalCont margin15">

                <div class="panel panel-danger">
                    <div class="panel-heading">
                        
                        <h3 style="margin-top:0px !important; padding-top:0px !important;" class="panel-title"><strong>Change Password</strong></h3>
                    </div>
                    <div  class="panel-body">
                        
                        <p>&nbsp;</p>
                        <p style="font-size: 13px; padding:0 10%;">NOTE: Password must contain at least 6 characters including 1 digit (e.g. P@ssw1rd).</p>
                          @using(@Html.BeginForm("changepassword","admin", FormMethod.Post,new{@class="formSignin border clearfix"}))
                          { 
                            if (ViewBag.isPasswordChange??false)
                            {
                                <div style="text-align:center; font-size:14px;" class="alert alert-success"><strong>Password Changed successfully.</strong></div>

                            }
                            @Html.ValidationSummary()
                            <label>New Password</label><br />
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Enter password", style = "width:80%;" }) <br />
                            <label>Confirm New Password</label><br />
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Re-enter password", style = "width:80%;" })  
                              <br /> <br />
                                                                                                                                                                  
                            @*<label>New Password</label><br />
                            <input type="password" class="form-control" name="password" placeholder="Enter password" required style="width:80%;" /><br />*@
                            @*<label>Confirm New Password</label><br />
                            <input type="password" class="form-control" name="password" placeholder="Re-enter password" required style="width:80%;" />
                            <br /> <br />*@
                            <div class="clearfix">
                                <button style="width:80%;" type="submit" class="fl btn btn-lg btn-primary">Update</button>
                              
                            </div>
                          }
                    </div>
                </div>


            </div>
        </div>

       
    </div>
</div>
