@{
    ViewBag.Title = "editsalescode";
}

<div class="portalWrap border">
   
    @RenderPage("adminmenu.cshtml")

    <div class="portalCont margin15">
        <h2>Edit Sales Code</h2>
        <form class="portalForm">
            <!-- Script by hscripts.com -->
            <label>Sales Code:</label>
            <input type="text" class="form-control" value="VIC Melbourne">
            <!-- Script by hscripts.com -->



            <button class="btnSubmit btn btn-lg btn-primary btn-block" type="submit">UPDATE</button>
            <br><br>
        </form>
    </div>
</div>
