@model SODAPortalMvcApplication.PortalServiceReference.Region
@{
    ViewBag.Title = "EditRegion";
}

<div class="portalWrap border">
    
    @RenderPage("adminmenu.cshtml")

    <div class="portalCont margin15">
        <h2>Edit Region</h2>
        @using (Html.BeginForm("editregion", "admin", FormMethod.Post, new { @class = "portalForm" }))
        { 
           @Html.ValidationSummary()
             <!-- Script by hscripts.com -->
            <label>Region:</label>
            <input type="text" style="width:70%;" class="form-control" name="RegionName" value="@Model.RegionName">
            <label>Currency:</label>
            <input type="text" style="width:70%;" class="form-control" name="RegionCurrency" value="@Model.RegionCurrency">
            <!-- Script by hscripts.com -->



            <button class="btnSubmit btn btn-lg btn-primary btn-block" type="submit">UPDATE</button>
            <br><br>
        }
    </div>
</div>
