@{
    ViewBag.Title = "EditRegion";
}

<div class="portalWrap border">
    <div class="fr">
        <ul class="portalUserMenu">
            <li style="padding-left:0px;"><a href="@Url.Action("Index")">REPORTS</a></li>
            <li><a href="@Url.Action("Sales")">SALES</a></li>
            <li><a href="@Url.Action("Price")">PRICE</a></li>
            <li><a href="@Url.Action("Region")">REGION</a></li>
        </ul> <!-- end of portal user menu-->
        <div class="logoutSec fr clearfix">Hi user! <a href="">(logout)</a></div>
    </div>

    <div class="portalCont margin15">
        <h2>Edit Region</h2>
        <form class="portalForm">
            <!-- Script by hscripts.com -->
            <label>Region:</label>
            <input type="text" class="form-control" value="VIC Melbourne">
            <!-- Script by hscripts.com -->



            <button class="btnSubmit btn btn-lg btn-primary btn-block" type="submit">UPDATE</button>
            <br><br>
        </form>
    </div>
</div>
