@model IEnumerable<SODAPortalMvcApplication.AccountServiceRef.Account>
@{
    //Model is List types
    ViewBag.Title = "Marketer";
}

<div class="portalWrap border">

    @RenderPage("adminmenu.cshtml")

    <div class="portalCont margin15">
        <h2>Marketers <span><a href="@Url.Action("addMarketer")"><img src="~/Content/images/portal/addNew.gif"></a></span></h2>
        <p>&nbsp;</p>

        <table class="portTable">
           @if(Model.Count() > 0)
           { 
                <thead>
                    <tr style="background-color:#ffffff;">

                        <th>Full Name</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
    
                <tbody>   
                    @foreach (var marketer in Model)
                    {
                       <tr>
                            <td width="200">@marketer.FirstName @marketer.LastName</td>
                            <td width="100"><a href=@Url.Action("editmarketer", new {id=@marketer.Id })><img alt="Edit" src="~/Content/images/portal/edit.png"></a></td>
                            <td width="100"><a onclick="return confirm('Are you sure you want to delete the item?');" href=@Url.Action("deletemarketer",new {id=@marketer.Id})><img alt="delete" src="~/Content/images/portal/delete.png"></a></td>
                        </tr> 
                    }               
                        
                </tbody>
           }
           else
           { 
             @*else*@ 
         
                <p class="noDisplay">No Record Yet!</p>
           }
        </table>

    </div>
</div>
