@model IEnumerable<SODAPortalMvcApplication.PortalServiceReference.Region>
@{
    ViewBag.Title = "Region";
}

<div class="portalWrap border">

    @RenderPage("adminmenu.cshtml")

    <div class="portalCont margin15">
        <h2>Region <span><a href="@Url.Action("addregion")"<img src="~/Content/images/portal/addNew.gif"></a></span></h2>
        <p>&nbsp;</p>

        <table class="portTable">

            <thead>


                <tr style="background-color:#ffffff;">

                    <th>Region</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>

            <tbody>
            
            @foreach(var region in Model)
                {
                <tr>
                    <td width="200">@region.RegionName</td>
                    <td width="100"><a href=@Url.Action("editregion",new{id=region.Id})><img src="~/Content/images/portal/edit.png"></a></td>
                    <td width="100"><a href=@Url.Action("deleteregion",new{id=region.Id}> <img src="~/Content/images/portal/delete.png"></a></td>
                </tr>

                }
            </tbody>
        </table>


    </div>
</div>
