@model IEnumerable<SODAPortalMvcApplication.PortalServiceReference.SalesPerson>
@{
    //Model is List types
    ViewBag.Title = "Sales";
}

<div class="portalWrap border">
    
    @RenderPage("adminmenu.cshtml")

    <div class="portalCont margin15">
        <h2>Sales <span><a href="@Url.Action("AddSale")"><img src="~/Content/images/portal/edit.png"></a></span></h2>
        <p>&nbsp;</p>

        <table class="portTable">
        @{ if (Model.Count() > 0)
            {
            <thead>
                <tr style="background-color:#ffffff;">

                    <th>Full Name</th>
                    <th>Company</th>
                    <th>Sales Code</th>
                    <th>Edit</th>
                </tr>
            </thead>

            <tbody>

                @foreach (var salesperson in Model)
                {
                    <tr>
                        <td width="200">@salesperson.FirstName +" "+@salesperson.LastName</td>
                        <td width="170">CompanyName</td>
                        <td width="100">@salesperson.Sales_Code</td>
                        <td width="100"><a href=@Url.Action("editsale", new { id = salesperson.Id })><img alt="Edit" src="~/Content/images/portal/edit.png"></a></td>
                        <td width="100"><a href=@Url.Action("deletesale", new { id = salesperson.Id})><img alt="delete" src="~/Content/images/portal/delete.png"></a></td>
                    </tr>
                }


            </tbody>
            }
            else
            {
            <p class="noDisplay">No Sales Record!</p>
            }
          }


        </table>


    </div>
</div>
