@charset "UTF-8";




/* CSS Document */
body {background-color:#f8f8f8 !important;}
a {outline:none !important;}
a:hover {text-decoration: none;}
a:focus {border: none !important;}
.cmsWrap {
	margin-top:20px; 
	margin-bottom:25px; }
.cmsWrapCont {
	text-align:right; 
	padding-right:5px !important;}
.cmsWrapCont2 {
	background-color:#fff; 
	border:1px solid #c9c9c9; 
	padding:45px;
	min-height: 465px; }


 .ifield {
        background: #fefefe;
        height: 30px;
        width: 60%;
        border: 1px solid #cccccc;
        padding: 5px;
        border: 1px solid #999;
        border-radius: 4px;
        -moz-border-radius: 4px;
        -web-kit-border-radius: 4px;
        -khtml-border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    }

 .addedCat {margin:10px 0;}

    .selectedUI { border:1px solid #CCCCCC; background:#F5F5F5; padding:5px; overflow:hidden; border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); margin-top:20px; }
	.selectedList { float:left; border:1px solid #999999; background:#FFF; padding:5px; margin:4px; }
	.selectedList:hover { background:#EBEBEB; }
	.selectedList a { text-decoration:none; font-size:18px; font-family:Arial 'Blackoak Std'; font-weight:bold; color:#760202; margin-left:5px;}


.formSignin {
margin: 35px auto 50px;
max-width: 450px;
padding: 35px;
}

    .formSignin input {
        margin-bottom:10px !important;
    }

.noteBox {
	background-color:#faf5c7;
	padding: 30px;
	font-size: 16px;
	color:;
	text-align: left;
	max-width: 600px;
	margin: 0 auto;
	line-height: 30px;
	border: 1px solid #f1e797;
}

.noteImg {margin-right: 15px;}
.noteTxt span {font-size: 20px; font-weight: bold;}



.cms li 
	{
		list-style:none;
		padding:0;
		padding-left:28px;
		margin:0;}
.cms a {
	margin-bottom:5px; 
	margin-right:0px !important; 
	padding-right:0px !important; 
	text-align:right;}
.col-md-10 h1 {color: #f8981d;}
#activeMenu {border-right:2px dotted #C9C9C4;}
.homeMenu {
	display: block;
	width: 93px;
	height: 38px;
	background: url('../images/cms/home.jpg') bottom;
	text-indent: -99999px;
	font-size: 5px;
	color:transparent !important;
}
.homeMenu:hover {
	background-position: 0 0;
	color:transparent !important;
}

.pageMenu {
	display: block;
	width: 93px;
	height: 91px;
	background: url('../images/cms/pages.jpg') bottom;
	text-indent: -99999px;
	font-size: 5px;
	color:transparent !important;
}
.pageMenu:hover {
	background-position: 0 0;
	color:transparent !important;
}

.categoryMenu {
	display: block;
	width: 93px;
	height: 91px;
	background: url('../images/cms/categories.jpg') bottom;
	text-indent: -99999px;
	font-size: 5px;
	color:transparent !important;
}
.categoryMenu:hover {
	background-position: 0 0;
	color:transparent !important;
}

.titleMenu {
	display: block;
	width: 93px;
	height: 91px;
	background: url('../images/cms/posts.jpg') bottom;
	text-indent: -99999px;
	font-size: 5px;
	color:transparent !important;
}
.titleMenu:hover {
	background-position: 0 0;
	color:transparent !important;
}


.profileMenu {
	display: block;
	width: 93px;
	height: 91px;
	background: url('../images/cms/profile.jpg') bottom;
	text-indent: -99999px;
	font-size: 5px;
	color:transparent !important;
}
.profileMenu:hover {
	background-position: 0 0;
	color:transparent !important;
}


.logoutMenu {
	display: block;
	width: 93px;
	height: 38px;
	background: url('../images/cms/logout.jpg') bottom;
	text-indent: -99999px;
	font-size: 5px;
	color:transparent !important;
}
.logoutMenu:hover {
	background-position: 0 0;
	color:transparent !important;
}

.cmsTable tr {height: 40px;}
tr:nth-child(odd)   { background-color:#eee; }
tr:nth-child(even)    { background-color:#fff; }
thead {background-color: #fff !important;}

.cmsForm {width: 80%;}
.cmsForm button {
	float:right; 
	width: 24%;}
.uploadTxtCont { 
	font-weight: normal; 
	font: 12px Arial;}
.cmsForm select {
	height: 30px; 
	padding: 5px; 
	width: 50% !important;}
.editProfile {
	font-size: 13px !important; 
	text-decoration: underline;}
.editProfile:hover {text-decoration: underline;}
.selectBdate select {
	height: 30px !important; 
	padding: 3px !important; 
	width: 15% !important; 
	display: inline;}
.panel-title {font-weight: bold;}

@media screen and (min-width: 980px) {
    .cms2 {
        display: none;
    }
}
/* Media Queries - width (980px)*/
@media screen and (max-width: 980px) {
a {outline:none !important;}
a:hover {text-decoration: none;}
a:focus {border: none !important; text-decoration:none;  border:1px solid #cee2e5 !important; }
.cms {display:none; }  
.cmsWrapCont {height:60px !important; margin:0 auto; }
.mmenu {color:#000; !important;}
.homeMenu, .pageMenu, .categoryMenu, .titleMenu, .profileMenu, .logoutMenu  { background-size:100%; background-image:none;   }
.cms2 { right: 0px; position: relative; padding-left:0px; margin-left:-10px;}
    .cms2 li { list-style:none; padding:0; margin:0; float:left;  }
    .cms2 a { color:#333333 !important; text-align:center; text-transform:uppercase; font-size:12px; background-color:#EEEEEE; border:1px solid #cee2e5; padding:15px; margin-left:2px; }
    .cms2 a:hover { border:1px solid #cee2e5; background-color:#fff;}


}