

#my-detail-form{
    height: 400px;
    width: 400px;
    left: 0;
    margin-left: 40%;
    margin-top: 10%;
    overflow: hidden;
    position: relative;
    right: 0;
    text-align: center;
}
#my-detail-form input{
    margin-bottom: 10px;
}
.my-message-error, .my-message-success{
    display:none;
}