@charset "UTF-8";
/* CSS Document */


/* FONT */

@font-face {
    font-family: 'helveticaregular';
    src: url('../fonts/helvetica/4864-webfont.eot');
    src: url('../fonts/helvetica/4864-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helvetica/4864-webfont.woff') format('woff'),
         url('../fonts/helvetica/4864-webfont.ttf') format('truetype'),
         url('../fonts/helvetica/4864-webfont.svg#helveticaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latoregular';
    src: url('../fonts/lato/lato-reg-webfont.eot');
    src: url('../fonts/lato/lato-reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato/lato-reg-webfont.woff') format('woff'),
         url('../fonts/lato/lato-reg-webfont.ttf') format('truetype'),
         url('../fonts/lato/lato-reg-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latobold';
    src: url('../fonts/lato/lato-bol-webfont.eot');
    src: url('../fonts/lato/lato-bol-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato/lato-bol-webfont.woff') format('woff'),
         url('../fonts/lato/lato-bol-webfont.ttf') format('truetype'),
         url('../fonts/lato/lato-bol-webfont.svg#latobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/openSans/opensans-semibold-webfont.eot');
    src: url('../fonts/openSans/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/openSans/opensans-semibold-webfont.woff') format('woff'),
         url('../fonts/openSans/opensans-semibold-webfont.ttf') format('truetype'),
         url('../fonts/openSans/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

div { 
-webkit-transition: all 0ms ease-in-out;
-moz-transition: all 0ms ease-in-out;
-o-transition: all 0ms ease-in-out;
transition: all 000ms ease-in-out;
}




/* GLOBAL */

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

body { background-color:#f4f4f4; font-family: helveticaregular; }

a {outline:none !important;}
a:hover {text-decoration: none;}
a:focus {border: none !important;}
a {cursor: pointer;}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{ display:block; }
h1, h2 { margin: 0; padding: 0; }
p { font-size: 14px; color:#222222;}

.margin15 { margin-bottom: 15px; }
.padding20 { padding: 20px; }
.whitespace {margin-bottom: 40px !important;}
.whitespacePadding { padding-bottom: 40px !important;}
.container { max-width:1170px; margin:0 auto; }
.headCommonh1 {font: 32px open_sanssemibold !important; margin-bottom: 20px; }
.fl { float: left; }
.fr { float: right; }


/* HEADER */
header { margin:0 auto; background-color: #ffffff; border-bottom: 1px solid #c9c9c9; color:#676767 !important; }
	@media (max-width: 600px){
	    	header .col-md-10 { text-align: left; clear: both; margin: 0px; padding:0px; border-top: 2px dotted #D9D9D9;}
	    	header .container {padding:0; margin:0;}
	    }
   
   
.logo { margin: 30px 0 20px 0; padding-top:17px; text-align: left; } 
	@media (max-width: 1024px) {	
		.logo { float:none; clear:both; clear:none; }
	}
    @media (max-width: 320px) {	
		.logo {margin: 5% 36%; padding-top: 0px; text-align: center; width: 27%;}
	}

	/**SOCIAL MEDIA*/
	.socialBtns {float: right; width:px; margin-top:15px;}
	.socialBtns a {color: transparent !important;}

		@media (max-width: 600px){
			.socialBtns {clear:both; width:100%; margin-top:15px;}
			.socialBtns ul { padding-left: 0px;}
            .socialBtns {display:none;}
		}

      

	.socialBtns li {float:left; list-style:none; margin:0px 0 0 5px; font-size:14px; color: transparent;}
		.socialTwitter { display: block; width: 32px; height: 30px; background: url('../images/socialTwitter.jpg') bottom; text-indent: -99999px; font-size: 5px; color: transparent;}
			.socialTwitter:hover { background-position: 0 0; color:transparent; }
		.socialYoutube{ display: block; width: 32px; height: 30px; background: url('../images/socialYoutube.jpg') bottom; text-indent: -99999px; font-size: 5px; color:transparent; }
			.socialYoutube:hover { background-position: 0 0; color:transparent; }
		.socialFacebook { display: block; width: 32px; height: 30px; background: url('../images/socialFacebook.jpg') bottom; text-indent: -99999px; font-size: 5px; color:transparent; }
			.socialFacebook:hover { background-position: 0 0; color:transparent; }
		.socialLinkdin { display: block; width: 32px; height: 30px; background: url('../images/socialLinkdin.jpg') bottom; text-indent: -99999px; font-size: 5px; color:transparent; }
			.socialLinkdin:hover { background-position: 0 0; color:transparent; }

	/* NAV */
	.menuNav li {position:relative;}

	@media (min-width: 601px) { 
		.nav {display: none !important;}
		.nav-collapse, .nav-collapse.collapse {overflow: visible;}   
		.navbar .btn-navbar {display: none;}  
		#hideToggleNav {display: none;}
	}

    @media (max-width: 600px) {
        #hideToggleNav {
            height: 58px !important;
            padding-top: 4% !important;
        }
    }
	@media (max-width: 600px){
		.menuNav {padding-left:0px; margin:20px 0px;}
		.menuNav li {width:100%; position:inherit;}
		.nav {max-width:600px !important;}
		#sodaMenu {width:100%; padding:0; margin:0; background-color: #f6f3f3 !important; border-bottom: 1px solid #ffffff;}
	    #sodaMenu li {border-bottom:1px solid #ffffff;}
	    #sodaMenu li a:hover {background-color: #fafafa !important;}
	    .navbar { min-height:40px !important;}
	    .navbar-toggle {background-color: #ffffff !important; border-color:#d9d9d9 !important;  }
	  	.icon-bar { background-color: ##d9d9d9!important;}
	    .navbar-default {border:none !important; margin:0 !important; padding: 0 !important; background-color: #f6f3f3 !important; border: 1px dotted #d9d9d9 !important; border-left: none !important; border-right: none !important; min-height:35px !important;}
	    .navbar-collapse {padding:0 !important; }
	    .navbar-header {background-color: #f6f3f3 !important;  padding: 0 3% !important; min-height:40px !important;}
	}
	.arrowActive{ background: url(../images/arrowActive.png) no-repeat center top; width: 20%; height: 100%; position: absolute; bottom:-40px !important; background-position: center;
	    left:40%; }
	    @media (max-width: 1024px) {
	    .arrowActive{ background: url(../images/arrowActive.png) no-repeat center top; width: 20%; height: 100%; position: absolute; bottom:-27px; background-position: center; left:40%;}	
	    }
	    @media only screen and (min-width:768px) and (max-width:980px){
	    	.arrowActive {top:32px;}	
	    }
        @media only screen and (min-width:599px) and (max-width: 767px) {
            .arrowActive {display:none;}
            .banner h1 { font-size:32px !important; }
        }
	    @media (max-width: 600px){
	    	.arrowActive {display:none;}	
	    }
	 #active2 {color:#f8981d;}


	.headerRight {text-align: right; padding-top: 25px; float:right !important; width:100%; }
		
	
		.call {font-family: latoregular; font-size: 15px;}
			@media (max-width: 600px){
	    		.call {display:none;}
	    		.call2 {float:right; font-size: 15px; font-family: latoregular;}
	    		.headerRight { text-align: left; clear: both; margin: 0px; padding:0px; }
	    	}
		.calltxt {color:#f48518; padding-right:14px;}
		
		.navbar2 { margin-bottom: 10px; clear: both;}
			@media (max-width: 1024px) {
	    		.navbar2 {float: none;}
	    	}
			@media (max-width: 600px){
	    		.navbar2 {display: none;}
	    	}
		.navbar2 li { float:left; list-style:none; margin-top:15px; padding:0 15px 0 15px; font-size:14px; }
		.navbar2 a { font-size:15px; color:#676767; text-decoration:none; font-family: latobold;}
		.navbar2 a:hover {color:#f48518;}

/* FOOTER */
footer { background-color: #151515; background: url("../images/footerBg.jpg") repeat; border-top:5px solid #3c3c3c; padding: 70px 0 5px 0; font-size: 13px; color: #fefefe; margin: 0 auto;}
	@media (max-width: 1024px) {
		footer { clear:none;}
	}
    @media (max-width: 600px) {
		footer { padding-top: 6%}
       
	}
    @media (max-width: 320px) {
        footer img {
            margin: 0 40%;
            width: 28%;
        }
    }


.ftrLinks { text-align: right; padding-top: 5px;  float:right; text-transform: uppercase; color:#575757;}
.ftrLinks ul {float: right}
.ftrLinks li { list-style-type: square; margin:20px 0 0 40px; padding:0 0 10px 0px; float: left; font-size: 23px; color:#575757; }
.ftrLinks a { color: #f48518; font-size: 14px; padding:0 auto;}
.ftrLinks a:hover {color:#bbbbbb;}	
	@media (max-width: 600px){
		.ftrLinks { margin:5% 0; text-align: center; padding-top: 5px; clear:none; text-transform: uppercase; color:#575757;  padding-left:0px; margin-left:0px; } 
	    .footNav {display:block; padding-left:0px; margin-left:0px;}
	    .footNav li { list-style-type: square; margin:5px auto; padding:7px; display:block; width:100%; font-size: 23px; color:#575757; text-align:center; background-color:#222222;}     
	    #copyrightTxt {text-align:center;}
	}

/* HOME PAGE */

	/* BANNER */
	.jumbotronWrap { background:url('../images/home/bannerbghome.jpg') center repeat-x; width: 100%;  height: 525px;  padding:0; margin-bottom: 60px; }
		@media (max-width: 600px){
	    	.jumbotronWrap { background:url('../images/home/bannerbghome.jpg') center top repeat-x; padding:3% 0; height:auto !important;}	
	    }
		@media screen and (max-width: 320px){
			.jumbotronWrap { background:url('../images/home/bannerbghome.jpg')center top; padding:3% 0; background-repeat: repeat; height:auto !important; }
		}
	.jumbotron { /*background:url('../images/home/topBanner.jpg') center no-repeat;*/ width: 100%;  height: 100%; }
		@media (max-width: 600px){
	    	.jumbotron { background-image: none !important; }
	    }

        @media (max-width: 320px){
	    	.jumbotron { margin-bottom:0;  }
	    }
		
	.banner { padding-top: 4%; float:left; color:#f9f9f9;  width:45%;}
		@media (max-width: 600px){
	    	.banner { text-align: center; width:100%; height:auto; padding-top: 0%; }
	    }
      
	.banner h1{	font: 40px open_sanssemibold; margin-bottom: 28px; }
		@media (max-width: 1024px) {
			.banner h1 {font-size: 35px;}
		}

		@media (max-width: 768px){
	    	.banner h1 {font-size: 32px;}
	    }

		@media (max-width: 365px){
			.banner h1 { font-size:26px;}
		}

	.banner h2{ font-size:18px; }
		@media (max-width: 600px){
	    	.banner h2 {font-size: 20px; margin-bottom: 4%; } 
	    }
	.freePowerPointBtn { margin-top: 30px; display: block; width: 235px; height: 59px; background: url('../images/home/freePowerPointBtn.png') bottom center no-repeat; text-indent: -99999px;}
	.freePowerPointBtn:hover { background-position: 0 0; color:transparent;}
		@media (max-width: 600px){
	    	.freePowerPointBtn { width: 100%; margin-left:0 50%; background: url('../images/home/freePowerPointBtnTop.png') bottom center no-repeat; }
	    	.freePowerPointBtn:hover { background: url('../images/home/freePowerPointBtnBottom.png') bottom center no-repeat; }
	    }
	    @media (max-width: 320px){
	    	.freePowerPointBtn { background-size: 100% !important; background: url('../images/home/freePowerPointBtnTop.png') bottom center no-repeat; margin-top: 5%; }
	    	.freePowerPointBtn:hover { background: url('../images/home/freePowerPointBtnBottom.png') bottom center no-repeat; }
	    }

	.border { -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; }

	/* FEATURED POST*/
	.thumbPost {padding:10px;}
 
        @media (max-width: 980px){
	    	.thumbPost { border-bottom:1px dashed #aca7a7; margin:0 auto; text-align: center; margin-bottom:10%; padding:0 8%;}
	    }
		@media (max-width: 600px){
	    	.thumbPost { margin-bottom:12%;}
	    }
	.thumbPic { border:1px solid #d9d9d9; padding: 10px; background-color: #f9f9f9; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;}
		@media only screen and (min-width:769px) and (max-width:1100px){
	    	.thumbPic {width:310px;}
	    }
        @media (max-width: 600px){
	    	.thumbPic {width:85%;}
	    }
	.thumbPost h3 { color:#f48518; font:18px open_sanssemibold; font-weight: bold; text-transform:uppercase; }
	.thumbPost p { color: #676767; padding-right: 20px;}
	.moreLBtn { display: block; width: 59px; height: 19px; background: url('../images/home/moreBtn.png') bottom; text-indent: -99999px; margin-top:10px; }
        @media (max-width: 1024px) {
            .moreLBtn { margin-right: 5%;}
        }
        @media only screen and (min-width:768px) and (max-width:980px){
			.moreLBtn {float: left;}
		}
        @media (max-width: 768px){
	    	.moreLBtn {float:right; margin-bottom: 2%;}
	    }
		@media (max-width: 600px){
	    	.moreLBtn {float:right; margin: 4%;}
	    }
	.moreLBtn:hover { background-position: 0 0; color:transparent; }

	/* BOTTOM BANNER */
	.jumbotron2 { background:url('../images/bannerBg2.jpg') repeat; width: 100%;  min-height: 539px;  padding:0; }
    @media (max-width: 600px) {
        .jumbotron2 {height:auto;}
    }
    

	.leftJt { padding-top: 50px;}
@media (max-width: 1024px) {
    .leftJt img {margin:0 82%; width:400;}
}
        @media only screen and (min-width:768px) and (max-width:980px){
			.leftJt img {margin:0 26%; width:46%;}
		}
        
		@media only screen and (min-width:768px) and (max-width:980px){
			.leftJt img {margin:0 26%; width:46%;}
		}

        @media (max-width: 768px){
            .leftJt {
                border-bottom: 1px solid #F9B24C;
                padding: 8% 0 7%;
            }
	    	.leftJt img {margin:0 26%; width:46%;}
	    }

		/*@media (max-width: 600px){
	    	.leftJt img {display:none;}
	    }*/

        @media (max-width: 320px){
	    	.leftJt {display:none;}
	    }


	.rightJt { float: right;  color:#232323; padding:8% 0 0 6%;}
		@media (max-width: 1024px) {
	    	.rightJt { float: left; color: #232323; padding:0px; clear:both; clear:none; width:100%; }
	    }
        @media (max-width: 960) {
	    	.rightJt { float: left; color: #232323; margin:3%; padding:0px; clear:both; clear:none; }
	    }

		@media (max-width: 600px){
	    	.rightJt {margin:5% 3% !important;}
	    }
       
	.rightJt h2 {font: 40px open_sanssemibold; margin-bottom: 15px; }
		
        @media (max-width: 768px){
	    	.rightJt h2 {font-size:32px;  }
	    }
        @media (max-width: 600px){
	    	.rightJt h2 {font-size:25px;  }
	    }
        @media (max-width: 320px){
	    	.rightJt h2 {font-size:20px; margin-top:8%;  }
	    }

	.rightJt p {font-size:18px;}
		@media (max-width: 1024px) {
			.rightJt, .rightJt p { margin:10% 0px; clear:both;}
		}
        @media (max-width: 1024px) {
            .rightJt p { margin:3% 0;}
        }
		@media (max-width: 600px){
	    	.rightJt p {margin:1% 0; }
	    }
        @media (max-width: 320px){
	    	.rightJt p {font-size:15px; }
	    }
 	.browseChannelBtn { display: block; width: 198px; height: 73px; background: url('../images/home/browseChannelBtn.png') bottom; text-indent: -99999px; color:transparent; }
	.browseChannelBtn:hover { background-position: 0 0;	color:transparent; }
	.readMoreHomeBtn { display: block; width: 185px; height: 67px; background: url('../images/home/readMoreHomeBtn.png') bottom; text-indent: -99999px; color:transparent; }
        @media (max-width: 600px) {
            .readMoreHomeBtn { margin: 3% 4% 0% 4%; }
        }

        @media (max-width: 384px) {
            .readMoreHomeBtn { margin: 8% 6% 8% 0; }
        }

        @media (max-width: 320px) {
            .readMoreHomeBtn { margin: 8% 6% 8% 0; }
        }
	.readMoreHomeBtn:hover { background-position: 0 0; color:transparent; }


/* CATEGORY PAGE */
.categorySection {background:url(../images/categoriesBg.jpg) no-repeat top center fixed;  -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; width:100%; height: 100%; }
.content { border: 1px solid #e7e7e7; margin: 70px 0 60px 0; }
.contentHeading { margin: 0 auto; padding:30px; border-bottom: 1px solid #e7e7e7; background-color: #fafafa; border-bottom-left-radius:0;  border-bottom-right-radius:0;}
.contentHeading h1, #titleName {margin-bottom: 10px; font: 32px open_sanssemibold;}
    @media (max-width: 980px) {
    	#titleName { margin:0 3%;}
    }
	@media (max-width: 480px) {
    	.contentHeading h1, #titleName  { font-size: 25px;}
    }
.contentBody { background-color: #ffffff; padding: 30px; border-top-left-radius:0;  border-top-right-radius:0;}
	
	/* CAT THUMBNAIL */
	.catThumbWrapper {margin: 0 auto; width: 100%; height: 100%;}
	.catThumb {float: left; margin: 25px;}
        @media (max-width: 600px){
	    	.catThumb {float: none; margin: 25px; text-align: center;}
	    }
        @media (max-width: 320px){
	    	.catThumb {float: none; margin:0 auto; text-align: center;}
	    }
 	.catThumb img{ padding: 7px; border:1px solid #e0e0e0; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; }
 	.catThumb h2 { font-size: 15px; color: #222222; margin-top: 8px; }
        @media (max-width: 600px) {
            .catThumb h2 {
                width: 100% !important;
                padding: 0 13%;
            }
        }
        @media (max-width: 320px){
	    	.catThumb h2 {margin-bottom: 10%;}
	    }
 	hr.hrLine { width: 100%; height: 1px; background-color: #dddddd; }

.purchBrowse {padding: 20px;}
.purchaseBtn{ display: block; width: 169px; height: 36px; background: url('../images/categories/purchaseBtn.png') bottom; text-indent: -99999px; margin-bottom: 30px; color:transparent;}
.purchaseBtn:hover { background-position: 0 0; color:transparent;}
      @media (max-width: 980px) {
          .purchaseBtn {margin:0 4%;}
      }
      @media (max-width: 600px) {
          .purchaseBtn {margin:0 auto; margin-bottom:10%;}
      }

.freePptBtn{ display: block; width: 177px; height: 30px; background: url('../images/categories/freepowerpoint-2.jpg') bottom; text-indent: -99999px; margin-bottom: 30px; color:transparent;}
.freePptBtn:hover { background-position: 0 0; color:transparent; }

/* LISTING PAGE */
.listingSection { /*background: url(../images/listings/agedCare/agedCareBg.jpg) top center no-repeat;*/ background-color: #ffffff; width:100%; height: 100%;}
.listingHeadBg { /*background:url(../images/listings/agedCare/agedCareHead.jpg) right center no-repeat #f8f8f8;*/ min-height:147px; background-size:contain; padding:30px; border-bottom: 1px solid #e7e7e7; border-bottom-left-radius:0; border-bottom-right-radius:0; color:#f48518; }
@media (max-width: 320px) {
    .listingHeadBg {
        background: none !important; background-color: #f8f8f8 !important;}
    }
.transparentBg { background: rgba(255,255,255, .7);}
 .listThumbBg img { background-color: #fafafa; border-color: #dfdfdf !important; }

/* LANDING PAGE */
.landingSection { /*background: url(../images/landing/landingBg.jpg) top center no-repeat;*/ background-color: #fdfdfd; width:100%; height: 100%;}
.landingWrapper { max-width: 970px; margin: 0 auto; padding: 50px 0 70px 0;}
#catName { font:18px open_sanssemibold;}
    @media (max-width: 980px) {
    	#catName { margin:3%;}
    }

.glyphicon-play {color: #00377a; font-size: 13px;}
.lCont { background-color: #fff; border: 1px solid #d8d8d8; margin: 30px 0; }
    @media (max-width: 980px) {
       .lCont {margin: 2% 2%;}
    }
.lCont h2{color: #1a1a1a; font-size:25px; padding: 25px; font-family:open_sanssemibold !important;}
.videoHead { width: 100%; border-bottom: 1px solid #d8d8d8; margin: 0 auto; padding: 20px; color: #f48518; }
.videoDetails { padding: 20px;}
.catThumb2 { margin: 10px 0 10px 20px; float: left; }
     @media (max-width: 600px){
	    	.catThumb2 {float: none; margin: 25px; text-align: center;}
	 }
     @media (max-width: 320px){
	    	.catThumb2 {float: none; margin:0 auto; text-align: center;}
	 }
.catThumb2 h3 { font-size:14px; margin-top: 10px; color: #1a1a1a; }
    @media (max-width: 600px) {
        .catThumb2 h3 { width: 100% !important; padding: 0 13%; }
    }
.catThumb2 img{ padding: 7px; border:1px solid #e0e0e0; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; }
hr.hrLine2 { width: 95%; height: 1px; background-color: #dddddd; }

.purchaseBtn2{ display: block; width: 119px; height: 30px; background: url('../images/landing/purchaseBtn2.jpg') bottom; text-indent: -99999px; margin-bottom: 30px; color:transparent; }
.purchaseBtn2:hover { background-position: 0 0; color:transparent; }
.purchaseNowBtn{ display: block; width: 151px; height: 30px; background: url('../images/landing/purchaseNow.jpg') bottom; text-indent: -99999px; color:transparent; }
.purchaseNowBtn:hover { background-position: 0 0; color:transparent; }
.purchaseNowbigBtn{ display: block; width: 511px; height: 105px; background: url('../images/landing/purchaseNowBig.png') bottom; text-indent: -99999px; color:transparent; }
.purchaseNowbigBtn:hover { background-position: 0 0; color:transparent; }


.contactFormPop {padding-top:30px;}
.contactFormPop input, .contactFormPop select  {display: inline; margin-left: 5px; margin-top:5px;}
.contactFormPop label {width:150px; text-align: right;}
.pp_social {display: none;}


.browseCatBtn{ display: block; width: 185px; height: 30px; background: url('../images/landing/browseCategories.jpg') bottom; text-indent: -99999px; margin-bottom: 30px; color:transparent; }
.browseCatBtn:hover { background-position: 0 0; color:transparent; }

.browseCatBtn2{ display: block; width: 511px; height: 95px; background: url('../images/browseCategoriesBtn.png') bottom; text-indent: -99999px; margin-bottom: 10px; color:transparent; }
.browseCatBtn2:hover { background-position: 0 0; color:transparent; }


/* COMMON PAGE */
.commonSection {background: url(../images/commonBg.jpg) no-repeat top center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-color: #ffffff;
	width:100%; min-height:920px ; }
.contactSection {background: url(../images/contactBg.jpg) no-repeat top center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;
	background-color: #ffffff; width:100%; min-height:920px ;}
.marginCommon {margin-top:80px !important; }
.leftCont { background-color: #ffffff; border: 1px solid #e7e7e7; margin: 0 0px 40px 0; padding: 0 !important; }
.leftContHead { background-color: #fafafa; border-bottom: 1px solid #e7e7e7;
}

/* CONTACT PAGE */
.contactForm {width: 70%; margin: 0 auto;}
.contactFormCont { background-color: #ffffff; border: 1px solid #e7e7e7; margin: 0 auto; padding: 0 !important; width:100%%; margin-bottom: 50px;}
.fontColor {color:#333;}
.formInput {width:60%; margin: 0 auto; padding: 40px 0;}
input, textarea {margin-bottom: 5px;}
.btnSubmit {width:50%; margin: 0 auto; margin-top: 10px !important;}
.formInput label {float:left; display:inline;}
.validation-summary-errors { background-color: #f2dede; border: 1px solid #ebccd1 !important; color: #a94442; padding:4px; 0 2px 0; margin-bottom:10px;}


