@charset "UTF-8";
/* CSS Document */


/*Font CSS*/

@font-face {
    font-family: 'helveticaregular';
    src: url('../fonts/helvetica/4864-webfont.eot');
    src: url('../fonts/helvetica/4864-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helvetica/4864-webfont.woff') format('woff'),
         url('../fonts/helvetica/4864-webfont.ttf') format('truetype'),
         url('../fonts/helvetica/4864-webfont.svg#helveticaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latoregular';
    src: url('../fonts/lato/lato-reg-webfont.eot');
    src: url('../fonts/lato/lato-reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato/lato-reg-webfont.woff') format('woff'),
         url('../fonts/lato/lato-reg-webfont.ttf') format('truetype'),
         url('../fonts/lato/lato-reg-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latobold';
    src: url('../fonts/lato/lato-bol-webfont.eot');
    src: url('../fonts/lato/lato-bol-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato/lato-bol-webfont.woff') format('woff'),
         url('../fonts/lato/lato-bol-webfont.ttf') format('truetype'),
         url('../fonts/lato/lato-bol-webfont.svg#latobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/openSans/opensans-semibold-webfont.eot');
    src: url('../fonts/openSans/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/openSans/opensans-semibold-webfont.woff') format('woff'),
         url('../fonts/openSans/opensans-semibold-webfont.ttf') format('truetype'),
         url('../fonts/openSans/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}


/*GLobal CSS*/
body { 
	background-color:#f4f4f4;
	font-family: helveticaregular; 
	
	}

a {outline:none !important;}
a:hover {text-decoration: none;}
a:focus {border: none !important;}
a {cursor: pointer;}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{ 
    display:block;
}
h1, h2 { margin: 0; padding: 0; }
p { font-size: 14px; color:#222222 !important;}

.margin15 { margin-bottom: 15px; }
.padding20 { padding: 20px; }
.whitespace {margin-bottom: 40px !important;}
.container {
	max-width:1170px;
	margin:0 auto; }

.headCommonh1 {font: 32px open_sanssemibold !important; margin-bottom: 20px; }

.fl { float: left; }
.fr { float: right; }


header {
	margin:0 auto; 
	background-color: #ffffff;
	border-bottom: 1px solid #c9c9c9;
	color:#676767 !important;
	}

.logo { margin: 30px 0 20px 0; }

.socialBtns {float: right; width:px; margin-top:15px;}
.socialBtns a {color:transparent !important;}
.socialBtns li {
	float:left; 
	list-style:none; 
	margin:0px 0 0 5px;
	font-size:14px;
	color: transparent;
}
.socialTwitter {
	display: block;
	width: 32px;
	height: 30px;
	background: url('../images/socialTwitter.jpg') bottom;
	text-indent: -99999px;
	font-size: 5px;
	color: transparent;
}
.socialTwitter:hover {
	background-position: 0 0;
	color:transparent;
}
 
.socialYoutube{
	display: block;
	width: 32px;
	height: 30px;
	background: url('../images/socialYoutube.jpg') bottom;
	text-indent: -99999px;
	font-size: 5px;
	color:transparent;

}
.socialYoutube:hover {
	background-position: 0 0;
	color:transparent;
}

.socialFacebook {
	display: block;
	width: 32px;
	height: 30px;
	background: url('../images/socialFacebook.jpg') bottom;
	text-indent: -99999px;
	font-size: 5px;
	color:transparent;
}
.socialFacebook:hover {
	background-position: 0 0;
	color:transparent;
}

.socialLinkdin {
	display: block;
	width: 32px;
	height: 30px;
	background: url('../images/socialLinkdin.jpg') bottom;
	text-indent: -99999px;
	font-size: 5px;
	color:transparent;
}
.socialLinkdin:hover {
	background-position: 0 0;
	color:transparent;
}

.menuNav li {position:relative;}

.arrowActive{
	background: url(../images/arrowActive.png) no-repeat center top;
	width: 20%;
	height: 100% !important;
	position: absolute;
	bottom:-40px !important;
    background-position: center;
    left:40%;
}



.headerRight {
	text-align: right; 
	padding-top: 25px;
    float:right;
}
.call {font-family: latoregular; font-size: 15px;}
.calltxt {color:#f48518; padding-right:14px;}


.navbar2 { margin-bottom: 10px; clear: both;}
.navbar2 li {
	float:left; 
	list-style:none; 
	margin-top:15px;
	padding:0 15px 0 15px;
	font-size:14px;
}
.navbar2 a {
	font-size:15px;
	color:#676767;
	text-decoration:none;
	font-family: latobold;}

.navbar2 a:hover {color:#f48518;}

#active2 {color:#f8981d;}

.logo { 
	padding-top:17px;
	text-align: left; }

/* Media Queries - Tablet Portrait (768px - 980px) */
@media only screen and (min-width:768px) and (max-width:980px){
	.arrowActive {top:32px !important;}
	.thumbPost {margin:3%;}
	.moreLBtn {float: left;}
	.leftJt img {padding-left:10% !important;}
}

/* Media Queries - Tablet Portrait (768px) */
@media only screen and (min-width: 320px) and (max-width: 1024px) and (orientation: portrait) {
   .arrowActive{
	    background: url(../images/arrowActive.png) no-repeat center top;
	    width: 20%;
	    height: 100% !important;
	    position: absolute;
	    bottom:-27px;
        background-position: center;
        left:40%;
}
	.headerRight {float:none !important;}
	.navbar2 {float: none !important;}
    .rightJt {
        float: left !important;
        color: #232323;
        margin-left:10% !important;
        padding:0px !important;
        clear:both;
        clear:none;
    }
    #logo { float:none !important; clear:both;
        clear:none;
    }

    .banner h1 {font-size: 25px !important;}

    .rightJt, .rightJt p {
        color:#fefefe !important; 
        margin:10% 0px;
        clear:both;
    }
    footer {
    clear:none !important;}


}


/* Media Queries - Phone (550px)*/
@media screen and (max-width: 550px) {
    .jumbotron {
	background:url('../images/homeBgMob.jpg') center no-repeat !important;
 	}


    .banner h1 {
        font: 28px open_sanssemibold !important;
        padding-top:3% !important;
    }

    .thumbPic {width:85% !important;}
    .moreLBtn {float: left; }

    .leftJt img {display:none !important;}
    .rightJt {margin-top:0px !important; margin-left:0px !important;}
        .rightJt h2 {font-size:30px !important; }
        .rightJt p {margin:1% 0 !important;}


    .headerRight {
        text-align: left;
        padding-top: 25px;
        clear: both !important;
        margin: 0px !important;
    }
    .socialBtns {clear:both; width:100%; margin-top:15px;}
        .socialBtns ul { padding-left: 0px;}
    .menuNav {padding-left:0px; margin:20px 0px;}
        .menuNav li {width:100% !important; position:inherit;}
    .navbar2 li {margin:1px 0 0 0 !important; width: 100%; padding:0 !important;}
    .navbar2 a {
	    display:block; 
	    list-style:none; 
	    margin-top:5px;
	    text-align:center;
	    font-size:14px;
        width:100%;
        padding:8px 0px;
        background-color:#efefef;
        margin:0 !important;
    }

    .arrowActive {display:none;}
    .thumbPost {margin-bottom:12%;}
    .rightJt, .rightJt p {color:#fefefe !important;}
    
    .ftrLinks {
        margin:5%0;
	    text-align: center; 
	    padding-top: 5px; 
	    clear:none;
	    text-transform: uppercase;
	    color:#575757;  padding-left:0px; margin-left:0px;
	}
        .footNav {display:block; padding-left:0px; margin-left:0px;}
        .footNav li {
	        list-style-type: square;
	        margin:5px auto !Important;
	        padding:7px;
	        display:block;
            width:100%;
	        font-size: 23px;
	        color:#575757;
            text-align:center;
            background-color:#222222;
        }     
    #copyrightTxt {text-align:center;}

}



/*HOME Page CSS*/
.jumbotron {
	/*background:url(../images/home/topBanner.jpg) center no-repeat;*/
	width: 100%; 
	height: 525px; 
	padding:0 auto;
	margin-bottom: 60px;
 	}

.banner {
	padding-top: 4%;
	float:left;
	color:#f9f9f9;}

.banner h1{	
	font: 40px open_sanssemibold;
	margin-bottom: 28px;
	}

.banner h2{ font-size:18px; }

.border
	{
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	}

.freePowerPointBtn {
	margin-top: 30px;
	display: block;
	width: 235px;
	height: 59px;
	background: url('../images/home/freePowerPointBtn.png') bottom;
	text-indent: -99999px;
}
.freePowerPointBtn:hover {
	background-position: 0 0;
	color:transparent;
}

.thumbPost {padding:10px;}

.thumbPic {
	border:1px solid #d9d9d9;
	padding: 10px;
	background-color: #f9f9f9;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}
.thumbPost h3 {
	color:#f48518;
	font:18px open_sanssemibold;
	font-weight: bold;
	text-transform:uppercase;
}

.thumbPost p { 
	color: #676767;
	padding-right: 20px;}


.moreLBtn {
	display: block;
	width: 59px;
	height: 19px;
	background: url('../images/home/moreBtn.png') bottom;
	text-indent: -99999px;
	margin-top:10px; 
}
.moreLBtn:hover {
	background-position: 0 0;
	color:transparent;
}

.jumbotron2 {
	background:url('../images/bannerBg2.jpg') repeat;
	width: 100%; 
	min-height: 539px; 
	padding:0 auto;
 	}

.leftJt { padding-top: 50px;}
.rightJt {
	float: right; 
	color:#232323; 
	padding:8% 0 0 6%;}
.rightJt h2 {font: 40px open_sanssemibold; margin-bottom: 15px; }
.rightJt p {font-size:18px;}
 
.browseChannelBtn {
	display: block;
	width: 198px;
	height: 73px;
	background: url('../images/home/browseChannelBtn.png') bottom;
	text-indent: -99999px;
	color:transparent;
}
.browseChannelBtn:hover {
	background-position: 0 0;
	color:transparent;
}

.readMoreHomeBtn {
	display: block;
	width: 185px;
	height: 67px;
	background: url('../images/home/readMoreHomeBtn.png') bottom;
	text-indent: -99999px;
	color:transparent;
}
.readMoreHomeBtn:hover {
	background-position: 0 0;
	color:transparent;
}

footer {
	background-color: #151515;
	background: url("../images/footerBg.jpg") repeat;
	border-top:5px solid #3c3c3c;
	padding: 70px 0 5px 0;
	font-size: 13px;
	color: #fefefe;
	margin: 0 auto;
}

.ftrLinks {
	text-align: right; 
	padding-top: 5px; 
	float:right;
	text-transform: uppercase;
	color:#575757;
	}
.ftrLinks ul {float: right}
.ftrLinks li {
	list-style-type: square;
	margin:20px 0 0 40px;
	padding:0 0 10px 0px;
	float: left;
	font-size: 23px;
	color:#575757; }
.ftrLinks a {
	color: #f48518; 
	font-size: 14px;
	padding:0 auto;}
.ftrLinks a:hover {color:#bbbbbb;}


/* Category Page CSS */
.categorySection {background:url(../images/categoriesBg.jpg) no-repeat top center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	width:100%;
	height: 100%; }
 .content {
 	border: 1px solid #e7e7e7;
 	margin: 70px 0 60px 0;
 }
 .contentHeading {
 	margin: 0 auto; 
 	padding:30px;
 	border-bottom: 1px solid #e7e7e7;
 	background-color: #fafafa;
 	border-bottom-left-radius:0; 
 	border-bottom-right-radius:0;}
 .contentHeading h1, #titleName {margin-bottom: 10px; font: 32px open_sanssemibold !important;}
 .contentBody {
 	background-color: #ffffff; 
 	padding: 30px;
 	border-top-left-radius:0; 
 	border-top-right-radius:0;}
 
.catThumbWrapper {
	margin: 0 auto;
	width: 100%;
	height: 100%;
}
 .catThumb {
 	float: left;
 	margin: 25px;}
 .catThumb img{
 	padding: 7px;
 	border:1px solid #e0e0e0;
 	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
 }

 .catThumb h2 {
 	font-size: 15px;
 	color: #222222;
 	margin-top: 8px;
 }
 hr.hrLine {
 	width: 100%;
 	height: 1px;
 	background-color: #dddddd;
 }

.purchBrowse {padding: 20px;}

.purchaseBtn{
	display: block;
	width: 169px;
	height: 36px;
	background: url('../images/categories/purchaseBtn.png') bottom;
	text-indent: -99999px;
	margin-bottom: 30px;
	color:transparent;
}
.purchaseBtn:hover {
	background-position: 0 0;
	color:transparent;
}

.freePptBtn{
	display: block;
	width: 177px;
	height: 30px;
	background: url('../images/categories/freepowerpoint-2.jpg') bottom;
	text-indent: -99999px;
	margin-bottom: 30px;
	color:transparent;
}
.freePptBtn:hover {
	background-position: 0 0;
	color:transparent;
}


/* Landing Page CSS */
.landingSection {
    /*background: url(../images/landing/landingBg.jpg) top center no-repeat;*/
	background-color: #fdfdfd;
	width:100%;
	height: 100%;}

.landingWrapper {
	max-width: 970px;
	margin: 0 auto;
    padding: 50px 0 70px 0;}

#catName { font:18px open_sanssemibold;}
 .glyphicon-play {color: #00377a;
 	font-size: 13px;}
 .lCont {
 	background-color: #fff;
 	border: 1px solid #d8d8d8;
 	margin: 30px 0;
 }

 .lCont h2{color: #1a1a1a; font-size:25px; padding: 25px; font-family:open_sanssemibold !important;}
 .videoHead {
 	width: 100%;
 	border-bottom: 1px solid #d8d8d8;
 	margin: 0 auto;
 	padding: 20px;
 	color: #f48518;
 }
 .videoDetails {
 	padding: 20px;
 }
 .catThumb2 {
 	margin: 10px 0 10px 20px;
 	float: left;
 }
 .catThumb2 h3 {
 	font-size:14px; margin-top: 10px;
 	color: #1a1a1a;
 }
 .catThumb2 img{
 	padding: 7px;
 	border:1px solid #e0e0e0;
 	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
 }
 hr.hrLine2 {
 	width: 95%;
 	height: 1px;
 	background-color: #dddddd;
 }

.purchaseBtn2{
	display: block;
	width: 119px;
	height: 30px;
	background: url('../images/landing/purchaseBtn2.jpg') bottom;
	text-indent: -99999px;
	margin-bottom: 30px;
	color:transparent;
}
.purchaseBtn2:hover {
	background-position: 0 0;
	color:transparent;
}


.purchaseNowBtn{
	display: block;
	width: 151px;
	height: 30px;
	background: url('../images/landing/purchaseNow.jpg') bottom;
	text-indent: -99999px;
	color:transparent;
}
.purchaseNowBtn:hover {
	background-position: 0 0;
	color:transparent;
}

.purchaseNowbigBtn{
	display: block;
	width: 511px;
	height: 105px;
	background: url('../images/landing/purchaseNowBig.png') bottom;
	text-indent: -99999px;
	color:transparent;
}
.purchaseNowbigBtn:hover {
	background-position: 0 0;
	color:transparent;
}


.contactFormPop {padding-top:30px;}
.contactFormPop input, .contactFormPop select  {display: inline; margin-left: 5px; margin-top:5px;}
.contactFormPop label {width:150px; text-align: right;}
.pp_social {display: none;}


.browseCatBtn{
	display: block;
	width: 185px;
	height: 30px;
	background: url('../images/landing/browseCategories.jpg') bottom;
	text-indent: -99999px;
	margin-bottom: 30px;
	color:transparent;
}
.browseCatBtn:hover {
	background-position: 0 0;
	color:transparent;
}

.browseCatBtn2{
	display: block;
	width: 511px;
	height: 95px;
	background: url('../images/browseCategoriesBtn.png') bottom;
	text-indent: -99999px;
	margin-bottom: 10px;
	color:transparent;
}
.browseCatBtn2:hover {
	background-position: 0 0;
	color:transparent;
}


/*Common Page CSS*/
.commonSection {background: url(../images/commonBg.jpg) no-repeat top center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	background-color: #ffffff;
	width:100%;
	min-height:920px ; }

.contactSection {background: url(../images/contactBg.jpg) no-repeat top center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	background-color: #ffffff;
	width:100%;
	background-size: cover;
	min-height:920px ;}


.marginCommon {margin-top:80px !important; }
.leftCont {
	background-color: #ffffff;
	border: 1px solid #e7e7e7;
	margin: 0 0px 40px 0;
	padding: 0 !important;
}
.leftContHead {
	background-color: #fafafa;
	border-bottom: 1px solid #e7e7e7;
}

/*Contact Page CSS*/
.contactForm {width: 70%; margin: 0 auto;}
.contactFormCont {
	background-color: #ffffff;
	border: 1px solid #e7e7e7;
	margin: 0 auto;
	padding: 0 !important;
	width:100%%;
	margin-bottom: 50px;
}
.fontColor {color:#333;}
.formInput {width:60%;
	margin: 0 auto; padding: 40px 0;}
input, textarea {margin-bottom: 5px;}
.btnSubmit {width:50%; margin: 0 auto; margin-top: 10px !important;}
.formInput label {float:left; display:inline;}

/*Lisiting Page CSS*/
.listingSection {
    /*background: url(../images/listings/agedCare/agedCareBg.jpg) top center no-repeat;*/
	background-color: #ffffff;
	width:100%;
	height: 100%;}

 .listingHeadBg {
	/*background:url(../images/listings/agedCare/agedCareHead.jpg) right center no-repeat #f8f8f8;*/
	min-height:147px;
	background-size:contain;
 	padding:30px;
 	border-bottom: 1px solid #e7e7e7;
 	border-bottom-left-radius:0; 
 	border-bottom-right-radius:0;
 	color:#f48518;
 }

.transparentBg {
	background: rgba(255,255,255, .7);}
 .listThumbBg img {
 	background-color: #fafafa;
 	border-color: #dfdfdf !important;
 }