@{
    ViewBag.Title = "AddSale";
}

<div class="portalWrap border">
    <div class="fr">
        <ul class="portalUserMenu">
            <li style="padding-left:0px;"><a href="@Url.Action("Index")">REPORTS</a></li>
            <li><a href="@Url.Action("AddUser")">ADD USER</a></li>
        </ul> <!-- end of portal user menu-->
        <div class="logoutSec fr clearfix">Hi user! <a href="">(logout)</a></div>
    </div>

    <div class="portalCont margin15">
        <h2>Add User</h2>
        <form class="portalForm">
            <label><b>First Name*</label>
            <input type="text" autofocus required class="form-control" value="">
            <label>Last Name*</label>
            <input type="text" autofocus required class="form-control" value="">
            <label>Email Address*</label>
            <input type="text" autofocus required class="form-control" value="">
            <label>Contact Number (optional)</label>
            <input type="text" class="form-control" value="">
            <label>Company  (optional)</label>
            <input type="text" class="form-control" value="">
            <label>Password</label>
            <input type="password" class="form-control" value="">
            <label>Confirm Password</label>
            <input type="password" class="form-control" value="">

            <br>
            <button class="btnSubmit btn btn-lg btn-primary btn-block" type="submit">PUBLISH</button>
            <br><br>
            <p style="clear:both;">
                <br>A verification email will be sent to the user for verification.
                User will be created under selected region
            </p>
        </form>
    </div>
</div>
