@{
    ViewBag.Title = "Create";
    var catlist = ViewBag.catList as IEnumerable<CMSMvcApplication.CatListingServiceReference.Category>;
}

<h1 class="margin15">Add New Title/Landing</h1>

<div class="cmsForm">
    @using(Html.BeginForm("Create","Titles", FormMethod.Post, new{enctype = "multipart/form-data"}))
    { 
        <label>Title*</label>
        <input type="text" class="form-control" placeholder="Enter Title" autofocus="" name="Title" required>
        <label>Code*</label>
        <input type="text" class="form-control" placeholder="Enter Title Code" autofocus="" name="Code" required>
        <label>Category*</label>
        <select class="form-control" name="Category">
        @foreach(var cat in catlist)
        {
            <option value=@cat.CategoryId>@cat.CategoryName</option>
        }
           
        </select>

        <label>Overview</label>
        <textarea class="field span12 form-control" id="textarea" rows="3" cols="49" placeholder="" name="Overview"></textarea>
        <label>Description</label>
        <textarea class="field span12 form-control" id="textarea" rows="5" cols="49" placeholder="" name="Description"></textarea>
        <label>Thumbnail Image <span class="uploadTxtCont">(recommended dimension:200 x 108)</span></label>
        <input type="file" name="Thumb">
        <label>Background Image<span class="uploadTxtCont"> (recommended dimension:1500 x 947)</span></label>
        <input type="file" name="BG">
        <label>Video URL</label>
        <input type="text" class="form-control" placeholder="Enter Video URL" autofocus="" name="VidURL">
        <br />
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">SEO</h3>
            </div>
            <div class="panel-body"> 
                <label>Page Title</label>
                <input type="text" class="form-control" placeholder="Enter Page Title" autofocus="" name="TitlePageTitle" required>   
                <label>Metatag Keywords</label>
                <input type="text" class="form-control" placeholder="Enter Meta Keywords" autofocus="" name="TitleMetaKeywords" required>
                <label>Metatag Description</label>
                <input type="text" class="form-control" placeholder="Enter Meta Description" autofocus="" name="TitleMetaDescription" required>
            </div>
        </div> <!-- end of panel:SEO-->
        
        <br>
        <button class="btnSubmit btn btn-lg btn-primary btn-block" type="submit">PUBLISH</button>

    }

</div>
