@{
    ViewBag.Title = "Create";
    var catlist = ViewBag.catList as IEnumerable<CMSMvcApplication.CatListingServiceReference.Category>;
    var regionList = ViewBag.regionList as IEnumerable<SelectListItem>;
    
}


<h1 class="margin15">Add New Title/Landing</h1>

<div class="cmsForm selectBdate">
    @using(Html.BeginForm("Create","Titles", FormMethod.Post, new{enctype = "multipart/form-data"}))
    { 
        @Html.ValidationSummary()
        <label>Region: </label><br />
        @*<select id="" class="form-control" name="titleRegion" style="width: 300px !important; margin-bottom:10px; ">
            <option value="12">Australia</option>
            <option value="27">GB</option>
        </select>*@
        @Html.DropDownList("titleRegion", regionList, new { @class = "form-control", style = "width: 300px !important; margin-bottom:10px;" })
        
        <br />
        <label>Title*</label>
        <input type="text" class="form-control" placeholder="Enter Title" autofocus="" name="Title" required>
        <label>Code*</label>
        <input type="text" class="form-control" placeholder="Enter Title Code" autofocus="" name="Code" required>
       
        <div class="panel panel-default">
                  <div class="panel-heading"><strong>Category</strong></div>
                  <div class="panel-body">
                    <p>Please Choose Category</p>
                      <select id="dddd" class="form-control" name="Category" multiple style="height:300px !important; width: 300px !important; ">
                          @foreach (var cat in catlist)
                          {
                              <option value=@cat.CategoryId>@cat.CategoryName</option>
                          }

                      </select>
                      <button type="button" id="button" class="btn btn-default fl">Add</button>
                      <select id="tttt" name="t" multiple style="height:300px; width:200px; display:none;" ></select>

                     
                      <div class="selectedUI">

                          <p class="addedCat">&nbsp; <strong>Added Category:</strong></p>
                          
                      </div>
                   </div>
        </div>
       
        <label>Overview</label>
        <textarea class="field span12 form-control" id="textarea" rows="3" cols="49" placeholder="" name="Overview"></textarea>
        <label>Description</label>
        <textarea class="field span12 form-control" id="textarea" rows="5" cols="49" placeholder="" name="Description"></textarea>
        <label>Thumbnail Image <span class="uploadTxtCont">(recommended dimension:200 x 108)</span></label>
        <input type="file" name="Thumb">
        <label>Background Image<span class="uploadTxtCont"> (recommended dimension:1500 x 947)</span></label>
        <input type="file" name="BG">
        <label>Video URL</label>
        <input type="text" class="form-control" placeholder="Enter Video URL" autofocus="" name="VidURL">
        
        <label>Filename</label>
        <input type="text" class="form-control" placeholder="Enter Filename" autofocus="" name="filename">
        <label>Duration (mins)</label>
        <input type="text" class="form-control" placeholder="Enter Duration" autofocus="" name="duration">
        
        <div class="panel panel-default">
                  <div class="panel-heading"><strong>Topic</strong></div>
                  <div class="panel-body">

                            <input type="text" value="" class="ifield" placeholder="Input topic name" name="topicName[]" /><input type="button" class="btn btn-default topicBtn" name="add" value="Add more Topic"  style="height: 32px; margin-left: 4px;"  />


                    <div id="text">
                        <div class="notifyError"></div>
                    </div>
                  </div>
                </div>
                
                <label>Import Chapter(XML)</label>
                <input type="file" name="importChapter"><input type="button" class="btn btn-default" name="add" value="Import" />
                <br /><br />
                <div class="panel panel-default">
                  <div class="panel-heading"><strong>Chapter</strong></div>
                  <div class="panel-body">
                            Name: <input name='chapterName[]' type='text' value='' class='ifield' autofocus placeholder='Input chapter name' /><br>
                            Time: &nbsp; <input name='chapterTime[]' type='text' value='' class='ifield' autofocus placeholder='Input chapter time' />
                            <input type="button" class="btn btn-default chapterBtn" name="add" value="Add more chapter"  style="height: 32px; margin-left: 4px;"  />


                    <div id="text2">
                        <div class="notifyError2"></div>
                    </div>
                  </div>
                </div>

                

                <label>Time (milliseconds)</label>
                <input type="text" class="form-control" placeholder="Enter time" autofocus="" name="time">
                <label>Total Chapters</label>
                <input type="text" class="form-control" placeholder="Enter total chapter" autofocus="" name="totalChap">

                <div class="panel panel-default">
                  <div class="panel-heading"><strong>Approve?</strong></div>
                  <div class="panel-body">
                    <input type="checkbox" name="approved" value="yes"> Yes, this title is approved and can be viewed. 
                  </div>
                </div>

                <div class="panel panel-default">
                  <div class="panel-heading"><strong>Is Downloadable?</strong></div>
                  <div class="panel-body">
                    <input type="checkbox" name="downloadable" value="yes"> Yes, this title is downloadable. 
                  </div>
                </div>

                <label>In Disc</label>
                <input type="text" class="form-control" placeholder="Enter Duration" autofocus="" name="indisc">

                 <div class="panel panel-default">
                  <div class="panel-heading"><strong>Is Download News?</strong></div>
                  <div class="panel-body">
                    <input type="checkbox" name="isdownloadnews" value="yes"> Yes, this title is download news. 
                  </div>
                </div>

                 <label>QuestionAnswer change date (dd-mm-yy): </label>
                 <input type="text" id="popupDatepicker" class="form-control" placeholder="Click to choose date" name="datefrom">
                 <p>&nbsp;</p>
          
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">SEO*</h3>
                    </div>
                    <div class="panel-body"> 
                        <label>Page Title</label>
                        <input type="text" class="form-control" placeholder="Enter Page Title" autofocus="" name="TitlePageTitle" required>   
                        <label>Metatag Keywords</label>
                        <input type="text" class="form-control" placeholder="Enter Meta Keywords" autofocus="" name="TitleMetaKeywords" required>
                        <label>Metatag Description</label>
                        <input type="text" class="form-control" placeholder="Enter Meta Description" autofocus="" name="TitleMetaDescription" required>
                    </div>
                </div> <!-- end of panel:SEO-->
        
        <br><br>
        <button class="btnSubmit btn btn-lg btn-primary btn-block" type="submit">PUBLISH</button>

    }

</div>
