@{
    ViewBag.Title = "Contact";
    ViewBag.Description = "";
    ViewBag.Keywords = "";
    ViewBag.CurPage = "Contact";
}

<div class="commonSection">
    <div class="container row">
        <div class="col-md-12">

            <div class="marginCommon contactFormCont border">
                <div class="contentHeading videoHead headCommonh1">
                    Contact Safety-TV. Email or Call   <span class="fontColor">
                        03 8877 7100
                    </span>
                    <p>Please fill in your detailssss and one of our sales consultants will be in touch as soon as possible.</p>
                </div>
                <div class="formInput">
                    <label>Name*</label><input type="text" class="form-control" placeholder="Name" autofocus="">
                    <label>Company*</label><input type="text" class="form-control" placeholder="Company" autofocus="">
                    <label>Phone*</label><input type="text" class="form-control" placeholder="Phone" autofocus="">
                    <label>Email Address*</label><input type="text" class="form-control" placeholder="Email Address" autofocus="">
                    <label>Postcode/Area Code/Zip*</label><input type="text" class="form-control" placeholder="Postcode/Area Code/Zip" autofocus="">
                    <label>Enquiry</label><textarea class="field span12 form-control" id="textarea" rows="8" cols="49" placeholder="Enter Your Enquiry"></textarea>

                    <button class="btnSubmit btn btn-lg btn-primary btn-block fl" type="submit">SUBMIT</button>
                    <p><br><br><br></p>

                </div>
            </div>
        </div>

    </div>

</div>