@{
    ViewBag.Title = "contactemail";
    Layout = null;
    Response.ContentType = "text/plain";
    var Customer = ViewData["Contact"] as SODAMvcApplication.CMSServiceReference.Contact;
   
   
}

<p>Hi @Customer.Name,</p>
<p>&nbsp;</p>
<p>
Thank you for your recent enquiry to our site.<br />
Your message has been sent and our customer representative will contact you shortly.
</p>
<p>&nbsp;</p>
<p>Regards,<br />Safety On Demand Team</p>
