@{
    ViewBag.Title = "sitemap";
}


<div class="commonSection" style="background-image:none;">
    <div class=" container row">
        <div class="col-md-12">

            <div class="marginCommon contactFormCont border">
                <div class="contentHeading videoHead headCommonh1"> SafetyOnDemand.com Site Legals</div>
                <div style="padding:4%;">
                    
                </div>
            </div>
        </div>

    </div>

</div>