<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="FreePPT_ReplyTo" value="jjgamer371@gmail.com" />
  
  <add key="recaptchaPublicKey" value="6LfGQOsSAAAAADSz_TTYJlXb_MWLS_UVRq5EPyNn" /><add key="recaptchaPrivateKey" value="6LfGQOsSAAAAAD5J2aeiaowYaRxoxOhllPbVO3DM" />
    
  </appSettings>

  <system.web>
    
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off" defaultRedirect="Error" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    
    <modules runAllManagedModulesForAllRequests="true" />
    
  <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICatListingService" maxReceivedMessageSize="393216" />
        <binding name="BasicHttpBinding_ICMS_Service" />
        <binding name="BasicHttpBinding_IAccountService" />
        <binding name="BasicHttpBinding_IPortalService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://webservices.sac-iis.com/webservices/AccountService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAccountService"
        contract="AccountServiceReference.IAccountService" name="BasicHttpBinding_IAccountService" />
      <endpoint address="http://webservices.sac-iis.com/webservices/CatListingService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICatListingService"
        contract="CategoriesServiceReference.ICatListingService" name="BasicHttpBinding_ICatListingService" />
      <endpoint address="http://webservices.sac-iis.com/webservices/PortalService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPortalService"
        contract="PortalServiceReference.IPortalService" name="BasicHttpBinding_IPortalService" />
      <endpoint address="http://webservices.sac-iis.com/webservices/CMS_Service.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ICMS_Service" contract="CMSServiceReference.ICMS_Service"
        name="BasicHttpBinding_ICMS_Service" />
      <!--<endpoint address="http://service.safetyondemand.com.au/AccountService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAccountService"
        contract="AccountServiceReference.IAccountService" name="BasicHttpBinding_IAccountService" />
      <endpoint address="http://service.safetyondemand.com.au/CatListingService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICatListingService"
        contract="CategoriesServiceReference.ICatListingService" name="BasicHttpBinding_ICatListingService" />
      <endpoint address="http://service.safetyondemand.com.au/PortalService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPortalService"
        contract="PortalServiceReference.IPortalService" name="BasicHttpBinding_IPortalService" />
      <endpoint address="http://service.safetyondemand.com.au/CMS_Service.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ICMS_Service" contract="CMSServiceReference.ICMS_Service"
        name="BasicHttpBinding_ICMS_Service" />-->
   
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.19.0" newVersion="2.5.19.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.19.0" newVersion="2.5.19.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.net>
    <mailSettings>
      <!--<smtp deliveryMethod="Network" from="test@sac-iis.com">
        <network host="relay-hosting.secureserver.net" enableSsl="false" defaultCredentials="false" userName="test@sac-iis.com" password="P@ssw0rd12345" />
      </smtp>-->
      <!--<smtp deliveryMethod="Network" from="test@sac-iis.com">
        <network port="80" enableSsl="false" defaultCredentials="false" host="smtpout.asia.secureserver.net" userName="test@sac-iis.com" password="P@ssw0rd12345"/>
        
      </smtp>-->
      
      <smtp deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="c:\mail" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
