@{
    ViewBag.Title = "Contact";
}

<label>Region: </label><br />
<select id="" class="form-control" name="titleRegion" style="width: 300px !important; margin-bottom:10px; ">

    <option value="12">Australia</option>
    <option value="27">GB</option>
</select>
<br />
<label>Phone Number</label>
<input type="text" class="form-control" placeholder="" name="Title" value="phoneNumber" autofocus="">
