@{
    ViewBag.Title = "Contact";
}

<h1 class="margin15">Edit Page</h1>

<div class="cmsForm">
    @using(Html.BeginForm("EditContact","Pages", FormMethod.Post))
    {
        
        <label>Region: </label><br />
        <select id="" class="form-control" name="titleRegion" style="width: 300px !important; margin-bottom:10px; ">

            <option value="12">Australia</option>
            <option value="27">GB</option>
        </select>
        <br />
        <label>Phone Number</label>
        <input type="text" class="form-control" placeholder="" name="Title" value="phoneNumber" autofocus="">
        <button class="btnSubmit btn btn-lg btn-primary btn-block" type="submit">UPDATE</button>
    }
</div>