@{
    ViewBag.Title = "Index";
    //var webpageUrl = System.Configuration.ConfigurationManager.AppSettings["webpageURL"].ToString() == "" ? "http://localhost:51219" :
    //                                      System.Configuration.ConfigurationManager.AppSettings["webpageURL"].ToString();
    var webpageUrl = ViewBag.defaultRegion as CMSMvcApplication.PortalServiceReference.Region;
}

<h1 class="margin15">Pages</h1>

<table class="cmsTable">

    <thead>
        <tr style="background-color:#fff;">
            <th>Title</th>
            <th>Edit</th>
            <th>View</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td width="415"> &nbsp; Home</td>
            <td width="100"><a href="@Url.Action("edithome", new {region="au" })"> <img src="/Content/images/cms/edit.png"></a></td>
            <td width="100"><a href="@webpageUrl.WebsiteUrl" target="_blank"><img src="/Content/images/cms/view.png"></a></td> @*todo: edit link to point to homepage link to Home*@
        </tr>
        <tr>
            <td width="415"> &nbsp; Contact</td>
            <td width="100"><a href=@Url.Action("editContact", new { region = "au" })><img src="/Content/images/cms/edit.png"></a></td>
            <td width="100"><a href="@webpageUrl.WebsiteUrl/home/contact"<img src="/Content/images/cms/view.png"></a></td>
        </tr>
        <tr>
            <td width="415"> &nbsp; Learn More</td>
            <td width="100"><a href=@Url.Action("editlearnmore", new { region = "au" })><img src="/Content/images/cms/edit.png"></a></td>
            <td width="100"><a href="@webpageUrl.WebsiteUrl/home/learnmore" target="_blank"><img src="/Content/images/cms/view.png"></a></td>
        </tr>


    </tbody>
</table>
