@{
    ViewBag.Title = "Index";
    var webpageUrl = System.Configuration.ConfigurationManager.AppSettings["webpageURL"].ToString() == "" ? "http://localhost:51219" :
                                          System.Configuration.ConfigurationManager.AppSettings["webpageURL"].ToString();
}

<h1 class="margin15">Pages</h1>

<table class="cmsTable">

    <thead>
        <tr style="background-color:#fff;">
            <th>Title</th>
            <th>Edit</th>
            <th>View</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td width="415"> &nbsp; Home</td>
            <td width="100"><a href="@Url.Action("edithome")"> <img src="/Content/images/cms/edit.png"></a></td>
            <td width="100"><a href="@webpageUrl" target="_blank"><img src="/Content/images/cms/view.png"></a></td> @*todo: edit link to point to homepage link to Home*@
        </tr>
        @*<tr>
            <td width="415"> &nbsp; Contact</td>
            <td width="100"><img src="/Content/images/cms/edit.png"></td>
            <td width="100"><img src="/Content/images/cms/view.png"></td>
        </tr>*@
        <tr>
            <td width="415"> &nbsp; Learn More</td>
            <td width="100"><a href=@Url.Action("editlearnmore")><img src="/Content/images/cms/edit.png"></a></td>
            <td width="100"><a href="@webpageUrl/home/learnmore" target="_blank"><img src="/Content/images/cms/view.png"></a></td>
        </tr>


    </tbody>
</table>
