@{
    ViewBag.Title = "downloads";
}

<div class="portalWrap border">
   
        @RenderPage("usermenu.cshtml")

        <div class="portalCont margin15">
            <h2>Downloads</h2>
            <p style="margin-right:10%;"><br>Please click below to download your Safety On Demand Player application. Please note the Safety On Demand videos will only play through this player and should you cancel your subscription you will no longer be able to access the videos.</p>
            <p>&nbsp;</p>

            <a href="@Url.Action("StreamFileFromDisk")" class="downloadProduct">Download</a>
        </div>
  
</div>
