@{
    ViewBag.Title = "downloads";
}

<div class="portalWrap border">
   
        @RenderPage("usermenu.cshtml")

        <div class="portalCont margin15">
            <h2>Downloads</h2>
            <p>Product description here, with clear statement of it is monthly subscription with minimum 6 months contract.....</p>
            <p>&nbsp;</p>

            <a href="@Url.Action("StreamFileFromDisk")" class="downloadProduct">Download</a>
        </div>
  
</div>
