@{
    ViewBag.Title = "Downloads";
}

<div class="portalWrap border">
    <div class="fr">
        <ul class="portalUserMenu">
            <li style="padding-left:0px;"><a href="@Url.Action("Index")">BUY/CANCEL</a></li>
            <li><a href="@Url.Action("Profile")">MY PROFILE</a></li>
            <li><a href="@Url.Action("Downloads")">DOWNLOADS</a></li>
            <li><a href="@Url.Action("TermsConditions")">TERMS AND CONDITIONS</a></li>
        </ul> <!-- end of portal user menu-->
        <div class="logoutSec fr clearfix">Hi user! <a href="">(logout)</a></div>
    </div>

    <div class="portalCont margin15">
        <h2>Downloads</h2>
        <p>Product description here, with clear statement of it is monthly subscription with minimum 6 months contract.....<p>
        <p>&nbsp;</p>
        <a href="" class="downloadProduct">Download</a>
    </div>
</div>
