@{
    ViewBag.Title = "downloads";
}


<style>
    .stepTable tr {
        background-color: #ffffff !important;
    }
    .col-sm-4 {
        background-color: #EBEBEB;
        min-height: 250px !important;
        padding: 4px;
    }

    .shadow {
        box-shadow: 0 0 2px rgba(80, 80, 80, 0.7);
    }
</style>





<div class="portalWrap border">
   
        @RenderPage("usermenu.cshtml")

        <div class="portalCont margin15">
            <h2>Downloads</h2>
            <h4  style="margin-right:10%;"><br />Please note administrator rights are required to install software on your computer.<br /><br /></h4>

            <table class="stepTable" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="70">Step 1:</td>
                    <td width="52"><a target="_blank" href="http://get.adobe.com/air/"><img src="~/Images/adobeAirLogoStep1.gif" alt="Adobe Air"></a></td>
                    <td width="250">Install Adobe Air<br />
                        <a target="_blank" href="http://get.adobe.com/air/">Download it here</a>
                    </td>
                </tr>
                <tr><td colspan="3">&nbsp;</td></tr>
                <tr>
                    <td>Step 2:</td>
                    <td><a href="@Url.Action("StreamFileFromDisk")"><img src="~/Images/sodaLogoStep2.gif" alt="Safety On Demand"></a></td>
                    <td>Install Safety On Demand Player<br />
                        <a href="@Url.Action("StreamFileFromDisk")">Download it here</a>
                    </td>
                </tr>
            </table>

           

            <p>&nbsp;</p>
            <p>&nbsp;</p>
            
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title" style="margin-top:0px !important; padding-top:0px !important;">System Requirements for PC and Laptops</h3>
                </div>
                <div class="panel-body">
                    <h4>Safety On Demand Player will run on Windows, Mac and Linux Operating Systems</h4>
                   
                    <div style="margin:4% auto;" class="row">

                        <div class="col-sm-4 border3 shadow">
                            <div class="osName"><img src="~/Images/iconWin.gif" alt="Windows">&nbsp; Windows</div>
                            <p class="osRequirement">
                                Pentium 4 2GHz or faster processor.<br />
                                1GB RAM.<br />
                                Windows 8 32bits or 64 bits.<br />
                                Windows 7 32bits or 64 bits.<br />
                                Windows Vista 32bits or 64 bits.<br />
                                Windows XP SP3.
                            </p>

                        </div>
                        <div class="col-sm-4 border3 shadow">
                            <div class="osName"><img src="~/Images/iconMac.gif" alt="Mac OS X">&nbsp; Mac OS X</div>
                            <p class="osRequirement">
                                Intel Core Duo or faster processor.<br />
                                Mac OS X 10.6 or later.<br />
                                1GB RAM.
                            </p>
                        </div>
                        <div class="col-sm-4 border3 shadow">
                            <div class="osName"><img src="~/images/iconLinux.gif" alt="Linux">&nbsp; Linux</div>
                            <p class="osRequirement">
                                Recommended Pentium 4 2GHz or faster processor.<br />
                                1GB RAM.<br />
                                FEdora 8 and later.<br />
                                Ubuntu 7.10 and above.<br />
                                OpenSuse 10.3 and above.<br />
                                xterm should be present on the system.
                            </p>
                        </div>

                    </div>
                    
                    <p>&nbsp;</p>
                    
                    
                  

                </div>
            </div> <!-- end of panel-primary-->

        </div>
  
</div>
