@{
    ViewBag.Title = "EditProfile";
}

<div class="portalWrap border">
    <div class="fr">
        <ul class="portalUserMenu">
            <li style="padding-left:0px;"><a href="@Url.Action("Index")">BUY/CANCEL</a></li>
            <li><a href="@Url.Action("Profile")">MY PROFILE</a></li>
            <li><a href="@Url.Action("Downloads")">DOWNLOADS</a></li>
            <li><a href="@Url.Action("TermsConditions")">TERMS AND CONDITIONS</a></li>
        </ul> <!-- end of portal user menu-->
        <div class="logoutSec fr clearfix">Hi user! <a href="">(logout)</a></div>
    </div>

    <div class="portalCont margin15">
        <h2 class="margin15">Edit Profile</h2>
        <form class="portalForm">
            <label><b>First Name</label>
            <input type="text" class="form-control" value="Ben">
            <label>Last Name</label>
            <input type="text" class="form-control" value="James">
            <label>Email Address</label>
            <input type="text" class="form-control" value="benjames@gmail.com" readonly>
            <label>Company</label>
            <input type="text" class="form-control" value="Straight Arrow">
            <label>Contact No</label>
            <input type="text" class="form-control" value="09271234567">
            <label>Password</label>
            <input type="password" class="form-control" value="*****" readonly>
            <label>Contract end date:</label>
            <input type="text" class="form-control" value="November 2014" readonly>

            <br>
            <button class="btnSubmit btn btn-lg btn-primary btn-block" type="submit">UPDATE</button>
            <br>
        </form>

    </div>
</div>
