
@{
    ViewBag.Title = "emailaccount";
    Response.ContentType = "text/plain";
    Layout = null;
    var CustomerName = ViewData["CustomerName"].ToString();
    var username = Session["Username"].ToString();
}
<p>Hi @CustomerName,</p>
<p>&nbsp;</p>
<p>Please login using the ff:<br/><br />
       Username: @username <br />
       Password: safetytv
</p>
<p>&nbsp;</p>
<p>
    Regards,<br />
    SafetyOnDemand.com
</p>

