@{
    ViewBag.Title = "faqs";
}

<style>
    p { padding-bottom:8px;}
</style>


<div class="portalWrap border">

    @RenderPage("usermenu.cshtml")

    <div class="portalCont margin15">
        <h2>FAQs</h2>

        <p><br /><strong>1. Will SODA work on my computer?</strong><br />SODA is designed to run on Windows and Mac operating systems.</p>

        <p><strong>2. How many computers can I install the videos on?</strong><br />Each SODA licence will allow one user, on one computer to play the video files.<br /><br />If you require access for your entire team of training facilitators, please talk to us about our multiple licence options. Alternatively, we recommend installing SODA on a dedicated user account on a computer that all trainers can access.</p>

        <p><strong>3. What happens at the end of my contract?</strong><br />At the end of your contract, SODA will continue to charge you until you can cancel the subscription service. If you cancelled subscription, you will not be able to play any of the videos.</p>

        <p><strong>4. What is Adobe AIR and why do I need to install it?</strong><br />
            Adobe AIR is required to launch SODA on your computer. Adobe is one of the world's most trusted software brands, (you may know them from products such as Flash Player&trade;, Acrobat&trade;, Adobe Reader&trade; and Photoshop&trade;, among many others).</p>

        <p><strong>5. Why can't I install SODA on my computer?</strong><br />If you are having trouble installing SODA, please refer to the system requirements page first to ensure your computer is compatible.<br /><br /> Not all computer users have permission to install software. You should contact your IT department if your login does not allow you to install software.</p>

        <p><strong>6. Cannot connect to DRM server</strong><br />
            <ol type="a">
               <li>Ensure you are connected to the Internet.</li>

               <li>There is either a firewall or a proxy server blocking the domains from obtaining DRM (Digital Rights Management) vouchers. Please allow the following domains to get past the firewall or proxy server (you may require permission and/or assistance from your organisation's IT department):<br /><br />
                   <ol type="1">
                       <li>fmrms.ezdrm.com</li>
                       <li>adobe.com</li>
                       <li>digicert.com</li>
                   </ol>
               </li>


            </ol>
           
            
        </p>

</div>
</div>