@model SODAPortalMvcApplication.ViewModel.CustomerModel
@{
    ViewBag.Title = "Index";
    
}

<div class="portalWrap border">
    @RenderPage("usermenu.cshtml")

    <div class="portalCont margin15">
        <h2>Buy/Cancel</h2>
        <p>Product description here, with clear statement of it is monthly subscription with minimum 6 months contract.....</p>

        <h2>@Model.salesCode.Sales_Code</h2>
        <p>@Model.price.PriceAmt</p>

        @if(DateTime.Compare(Model.customer.DateSubscriptionEnd.Value,DateTime.Now) < 0)
        {
            //not yet expired
            //insert unsubscribe shit here
            <a>Unsubscribe</a>
        }
        else
        {
            //expired
            @Html.ActionLink("termsconditions", "user");
        }
        BUY NOW (if the contract end date is NULL)
        CANCEL Service (Only show this when contract end date is less than datetime.now)

        If the user clicked buy now,  the user will be redirected to T&C page.

        The user will be redirected to PAYPAL for the payment.

        If the user stop at the PAYPAL section, nothing will happen. The user need to click on buy now again and accept T&C again.

        If the user paid from PAYPAL, paypal will:
        - send a message to the dedicated web service address about the payment status.
        - if the payment is valid, the end of contract will be 6 months from now (first time)
        - The expiry date will be 30 days from now
    </div>
</div>
