
@{
    ViewBag.Title = "paymentstatus";
    var paymentStatus = ViewBag.paymentSuccess as Nullable<bool>;
    Response.ContentType = "text/html";
}

<div class="container row portalContainer">

    <div class="portalWrap border">
        <div class="fr">
            @*<div class="logoutSec fr clearfix">@Html.ActionLink("(Logout)","logout","home")</div>*@
        </div>
        @if(paymentStatus.Value)
        { 
            <div class="portalCont margin15">
                <div class="noteBox clearfix">
                    <div class="clearfix">
                        <div class="fl noteImg"><img src="~/Content/images/portal/check.png" alt="success"></div>
                        <div class="fl noteTxt"><span>Payment Successful!</span><br />Please click button below to proceed to homepage.</div>
                    </div>
                    <div><hr class="border shadow" style="border-top: 1px solid #F1E797" /></div>
                    @if(ViewBag.isNewAccount != null)
                    { 
                        <div class="clearfix" align="center" style="font-size:14px;"><strong>We've just created your account!</strong> An email will be sent to you for your login details.</div>
                    }
            </div>


                <div align="center">
                    <br> <br />
                    @*<form action="user/index.html">*@
                    @using (@Html.BeginForm("index", "user", FormMethod.Get))
                    {
                        <button  class="btn btn-lg btn-primary btn-block" style="max-width:40%;"> Return to Home Page</button>
                    
                       
                    }                
                 @*</form>*@
                </div>

            </div>

        }
        else
        { 
            @*   html below will display if payment is unsuccessful*@

            <div class="portalCont margin15">
                <div class="noteBox clearfix">
                    <div class="fl noteImg"><img src="~/Content/images/portal/warning.png" alt="Error"></div>
                    <div class="fl noteTxt"><span>Payment Failed!</span><br />Please click button below to proceed to Payment's homepage.</div>
                </div>

                <div align="center">
                    <br> <br />
                    
                    @using (@Html.BeginForm("index", "user", FormMethod.Get))
                    {
                        <button class="btn btn-lg btn-primary btn-block" style="max-width:40%;"> Return to Home Page</button>
                    }
  
                    
                </div>
            </div>
        }
    </div>

</div>

