@{
    ViewBag.Title = "resetpassword";
}

  @if (TempData["PasswordUpdated"] != null)
        {
       <div style="margin: 5% 10% 2% 10%; text-align: center; font-size: 14px; color:#272727;" class="alert alert-warning">
           <strong>Password Changed!</strong> @Html.ActionLink("Click here", "index") to login your account.
       </div>
}

   @using(@Html.BeginForm("resetpassword", "Home", FormMethod.Post, new { @class = "formSignin border shadow" }))
    {
     
         @Html.ValidationSummary(true)
        <h2 class="margin15">Reset Password</h2>
        <p style="font-size: 12px; color: #CC2208 !important;">NOTE: Password is not changeable after submission. It must contain at least 6 characters including 1 digit (e.g. P@ssw1rd).</p>
        <br />
        <label>Enter New Password</label>
        <input type="password" required="" placeholder="Password" class="form-control" name="Password">
        <label>Confirm New Password</label>
        <input type="password" required="" placeholder="Re-type Password" class="form-control" name="ConfirmPassword">
        <p class="margin15"></p>
        <button type="submit" class="btn btn-lg btn-primary btn-block">Submit</button>
        <p>&nbsp;</p>
       
     
    }


@*A message will display, like "Password Changed!"
<a href="portal.com">Log in</a> to access your account.*@ 