@model SODAPortalMvcApplication.AccountServiceRef.Account
@{
    ViewBag.Title = "termsandconditions2";
    var user = Session["Username"].ToString();
    user = user.Substring(0, user.IndexOf('@'));
}

<div class="container row portalContainer">

    <div class="portalWrap border">
        <div class="fr">
            <div class="logoutSec fr clearfix">Hi @user @Html.ActionLink("(Logout)","logout","home")</div>
        </div>

        <div class="portalCont margin15">
            <h2>Terms and Conditions</h2>
            <div style="padding: 4%; max-height: 400px; overflow-y: auto; border:1px solid #e8e8e8;">
                <h3>Copyright Notice</h3>
                <p>
                    The website and its content are subject to copyright under the laws of Australia and through international treaty provisions. The contents of this website are copyright © Vocam Pty Ltd.
                    You may access and display these pages on a computer or a monitor, and print out for your personal use any whole page or pages in the website. All other use, copying or reproduction of any part of this web site is prohibited. Without limiting the foregoing, no part of this web site may be reproduced on any other internet site.
                </p>

                <h3>Disclaimer</h3>

                <p>
                    Vocam does not represent or warrant that any files obtained from or through this site are free from computer viruses or other defects. The user must assume all responsibility for any loss, damage or consequence resulting directly or indirectly from the use of those files and Vocam liability in such an event is limited to the resupply of those files. Vocam recommends that prior to using any download file users should carry out an appropriate virus check.
                    Priracy Policy
                </p>

                <p>Vocam Pty Ltd (‘Vocam’) understands that privacy is important to you, and is committed to complying with the National Privacy Principles (‘NPPs’), which are contained in the Privacy Act 1988 (‘Privacy Act’). The NPPs govern how organisations in the private sector handle "personal information" (which is basically information or an opinion, which can identify you).</p>

                <p><strong>1. What Personal Information Does Vocam Collect?</strong></p>

                <p>
                    Vocam is a worldwide publisher of interactive health and safety training products. The types of personal information that Vocam collects will depend on the nature of your dealings with us. We may collect personal information from you when you:
                    <br /><br />
                    purchase a Vocam DVD pursuant to the Vocam licence agreement;<br />
                    arrange for a free preview of Vocam products;<br />
                    contact us via the Vocam website or email;<br />
                    engage in normal business exchange with a Vocam local representative; or<br />
                    have business dealings with us (whether as one of our suppliers, or as a regulator we deal with, or in the context of a transaction).<br /><br />
                    If you are a customer, the personal information we will collect from you will usually include your name, title, business address and e-mail address and contact numbers (telephone, fax, mobile). If necessary for the purposes of providing you with other information (such as updates) sometimes we may collect other personal information from you, such as the areas of health and safety which you are interested in. However, we do not collect personal information that we do not need.<br />
                    <br />
                    If you are one of Vocam’s "business contacts" (eg a contact person in one of our suppliers, in a government agency or company with which we deal), we may collect basic business contact information from you (eg. your name, title and work contact details). Generally, will not ask to collect sensitive information about you (such as details of your race, political beliefs, religion or health) unless it is needed for the purposes of providing health and safety information or products.
                    <br /><br />
                    <strong>2. How does Vocam use Personal Information?</strong>
                    <br /><br />
                    We need to collect personal information so that we can conduct our business. Our policy is to use personal information collected from customers and business contacts only for the business purpose for which it was collected.
                    <br /><br />
                    From time to time we may use your personal information to provide you with information about our products and services and communicate new health and safety developments. If (at any time) you do not wish to receive these kinds of communications, please contact us. Once you have told us you no longer wish to receive such information, we will not send any further material. You can, however, change your mind about receiving information about our products and services at any time, just by letting us know. Our contact details for each country are listed on this website.
                    <br /><br />
                    <strong>3. Will Your Personal Information be Given to Anyone Else?</strong>
                    <br /><br />
                    Vocam does not sell, rent or trade personal information about you to or with third parties. Personal information may be disclosed outside of Vocam in the circumstances described below:
                    <br /><br />
                    (a) Disclosures to external service providers
                    <br />
                    Vocam may disclose personal information to external service providers who help us operate our business. If Vocam engages external service providers, Vocam takes steps to ensure that those external service providers:
                    <br />
                    Comply with the NPPs when they handle personal information about you (regardless of whether they are a small business, and would otherwise be exempt from the new privacy laws); and
                    are authorised only to use personal information for the purposes specified in our agreement.
                    For example, we may disclose your personal information to mail service providers for the mailing of direct marketing material etc.
                    <br />
                    (b) Disclosures within our organisation
                    <br />
                    At times we may transfer personal information overseas to international branches of our company.
                    <br />
                    (c) Disclosures required or permitted by law
                    <br />
                    Otherwise, Vocam will only disclose personal information if this is required by law or permitted under the Privacy Act.
                    <br /><br />
                    <strong>4. Security of Personal Information</strong>
                    <br />
                    Vocam takes reasonable steps to ensure the security of your personal information against loss, unauthorised access, use, modification, disclosure or misuse. We employ the following means to protect your personal information:
                    <br /><br />
                    Secure premises;<br />
                    Password protected systems;<br />
                    Data integrity checks;<br />
                    Use of anti-virus software;<br />
                    Confidentiality policy.<br />
                    When we no longer require your personal information, it is our practice to securely destroy the information or delete it from our systems.<br /><br />

                    <strong>5. Access and Correction<br /></strong>
                    <br />
                    Vocam relies on the personal information we hold about you to provide you with the best customer service. To ensure this, it is important that your personal information is up-to-date and accurate. You can contact us at any time to tell us of any inaccuracies or changes to your personal information.
                    <br />
                    If you wish to access the personal information that Vocam holds about you, please set out your request in writing to the Privacy Officer using the contact details on this website. We may refuse access where such is required or authorised by law or where a request is frivolous or vexatious. In cases where we refuse access, we will provide an explanation.
                    <br /><br />
                    To provide you with access to your personal information held by us on our current records, Vocam can provide you with a copy of the relevant personal information (ordinarily, an electronic printout or a photocopy). Vocam will not charge you for the cost of providing this type of access to these current records.
                    <br /><br />
                    <strong>6. Online Privacy Issues</strong>
                    <br /><br />
                    When you visit our website, our ISP generates statistics about your visit (i.e. search queries, links accessed, browsers used etc) through the use of web logs and cookies. This enables us to keep our site relevant and useful.
                    <br /><br />
                    Generally this information will not identify you and Vocam will not make attempts to identify users by their browsing activities. However, law enforcement or other government agencies may exercise their legal authority to inspect our ISP logs.
                    <br /><br />
                    Most web browsers are set by default to accept cookies. However, if you do not wish to receive cookies you may set your browser to either prompt or refuse cookies.
                    <br /><br />
                    You should be aware email and electronic forms are not always a secure way to communicate your personal information with us. Alternatively you may provide such information to us by means of telephone or mail (see our contact details listed on this website).
                    <br /><br />
                    <strong>7. Additional Privacy Information and How to Contact Vocam</strong>
                    <br /><br />
                    The Vocam Privacy Policy may change from time to time.
                    <br />
                    The Vocam Privacy Policy will be made available to anyone who requests it, whether at our offices or by use of our website.
                    <br />
                    If you have any questions or comments about the Vocam Privacy policy, or if you wish to make a complaint about how Vocam have handled personal information about you, please contact Vocam Pty Ltd or its representative in your country (see our contact details listed on this website).
                    <br /><br />
                </p>
                <h3>Safety On Demand Terms and Conditions</h3>
                <p>
                    <br />
                    <strong>NOTICE TO USERS</strong><br />
                    This product is offered subject to your acceptance of the Customer License Agreement and Terms and Conditions included with the media.
                    <br /><br />
                    <strong>Customer License Agreement and Terms and Conditions</strong><br />
                    By accessing or using Vocam® Safety On Demand software or System ("DRM") through this or any antecedent or successive unified record locator (URL), you are acknowledging that you have read, understand, and agree, without limitation or qualification, to be bound by these Terms and Conditions which include our privacy policy. Your use of Safety On Demand (the “Service”), which includes any content you purchase, subscribe to, sync, download, stream, preview or otherwise access through the Service (“Content”), is subject to this Customer Agreement Terms and Conditions. All goods are supplied on these terms and conditions only and no person in the employment or otherwise as agent for Vocam has any authority to supply goods on any other terms and conditions or to vary these terms and conditions in any way whatsoever. Previous dealings shall not vary or negate these terms and conditions in any respect.
                    <br /><br />
                    <strong>License</strong><br />
                    Subject to the terms and conditions of this Agreement, Vocam grants you a limited, non-exclusive, non-transferable license to use the Service and Content solely for your training use only. You must purchase 1 valid license from Vocam for each installation of Safety On Demand content and software onto any computer, system or device. You understand and acknowledge that you will obtain a valid license from Vocam for every installation of Safety On Demand Software and Content on to each computer, system or device. You understand and acknowledge that your rights with respect to Content are limited by copyright law. All rights regarding use of the Service and Content not expressly granted in this Agreement are reserved by Vocam and/or any third-party licensors.
                    <br /><br />
                    <strong>Restrictions</strong><br />
                    You agree that you will not attempt to modify any software or Content obtained through the Service for any reason whatsoever, including for the purpose of disguising or changing ownership or source of the Content. You agree to follow all rules and policies applicable to the Service, including required or automated updates, modifications and/or reinstallations of software and obtaining available patches to address security, interoperability and/or performance issues. You also agree: (i) to comply with all applicable laws, rules and regulations when using Content or the Service; (ii) not to reverse engineer, decompile, disassemble, attempt to derive source code from the Software, or otherwise tamper with or modify any security features or other Service components for any reason (or help anyone else to do so). You acknowledge that the AIR application and Safety On Demand application may delete or otherwise disable the Content after your entitlement to view the Content has expired; and the downloading or playing performance of Content depends on the specifications of your personal computer and it performing other functions as required.
                    <br /><br />
                    <strong>Digital Rights Management</strong><br />
                    Certain Content offered through the Service is protected by Adobe® FMRMS or Adobe® Access 2.0 or other digital rights management technology (“DRM Content”), so that the intellectual property rights, including copyright, of any licensors are not misappropriated. Your rights regarding such DRM Content are limited by copyright law and the Usage Rules, which may be changed at any time without prior notice. The following Usage Rules (assigned by Vocam and/or any licensors) limit your use of DRM Content, even if unauthorized rules have been associated with the DRM Content by someone else. These rules are general guidelines, subject to change without notice, and may vary by licensor. Subject to all other Service terms and conditions, you may play DRM Content an unlimited number of times on an authorized PC or device. Vocam may revoke your ability to acquire new licenses to copy, display and/or play DRM Content without notice. Revocation does not alter the ability to play unprotected content. Vocam may also download revocation lists onto your computer or device on behalf of licensors. Vocam may enforce these rules for itself and any licensors.
                    <br /><br />
                    <strong>Your Representations and Warranties</strong><br />
                    You represent, warrant and agree that: (i) you are using the Service for your own training purposes only; (iii) you will not redistribute, rebroadcast, publicly perform, or publicly display any Content or otherwise transfer any copies of Content, obtained through the Service or otherwise make use of the Content in any way that would infringe any copyright therein or violate any laws, rules or regulations applicable to such content.
                    <br /><br />
                    <strong>Indemnification</strong><br />
                    You agree to indemnify and hold harmless Vocam, its parents, subsidiaries, affiliates, officers, employees, licensors, contractors, distributors and users from and against any and all losses, damages, and/or costs, including reasonable attorneys' fees and expenses, that arise or relate in whole or in part to: (i) your breach of your representations and warranties; (ii) any claim that your use of Content infringes or otherwise violates any applicable laws, rules or regulations, or any third party's intellectual property or other rights, including, without limitation, personal or privacy rights; or (iii) your violation of this Agreement.
                    <br /><br />
                    <strong>NO WARRANTIES</strong><br />
                    The Service, including all Content and other information, materials and products included on or otherwise made available to you through the Service, are provided "as-is" and "as available" without warranties of any kind from Vocam or any licensors. To the full extent permissible by applicable law, Vocam and all licensors disclaim all warranties, express or implied, including, but not limited to, implied warranties of non-infringement, merchantability and fitness for a particular purpose. Neither Vocam nor any licensor warrants that the Service or any Content, information, materials or products included on or otherwise made available to you through the Service are error-free.
                    <br /><br />
                    <strong>RETURN OF GOODS:</strong><br />
                    Vocam will not refund any products that have been accessed, installed or played. Vocam will refund or credit goods returned within a reasonable time (generally 7 days) provided the goods are in original condition, current version, have not been accessed and not a special order, or clearance item. Please note that where the plastic seal of a software package is broken the return or exchange cannot be accepted unless faulty nor defective.
                    <br /><br />
                    <strong>Management of Your Data and Computer</strong><br />
                    You are solely responsible for obtaining, installing, configuring and maintaining suitable equipment, including your computer and software, including any necessary system or software upgrades, patches or other fixes that are or may become necessary to access the Service and to operate your computer. Vocam will only provide technical assistance with respect to your Vocam-provided equipment. You agree that you are responsible for providing security measures that are suited for your intended use of the Service, and you shall take full responsibility for taking adequate measures to safeguard your data from loss. Neither Vocam nor any of its affiliates will be liable to you or any other party for any data loss or any other security issues that may result from your use of the Service.
                    <br /><br />
                    <strong>Trademark Notice</strong><br />
                    This site includes the registered trade marks of Vocam ® and trade marks which are the subject of pending applications or which are otherwise protected by law including, but not limited to the word "Vocam Worldwide Publishing" and "Informed Business Training" with graphical logo. You may not use these trade marks or the names "Vocam Pty Ltd", "Vocam Ltd" or "Vocam" or the name of any of our related companies.
            </div>
            <br />
            <p>You <b>@Model.FirstName @Model.LastName</b> accepted this terms and conditions </p>
            <br /> <br />
            <div align="center"><a class="buyNow" href="@Url.Action("checkout")">Buy Now</a><br />
            <img src="/Content/images/portal/paypal.jpg" alt="Paypal"></div>

           
        </div>
    </div>

</div>
