@{
    ViewBag.Title = "TermsConditions";
}

<div class="portalWrap border">
    <div class="fr">
        <ul class="portalUserMenu">
            <li style="padding-left:0px;"><a href="@Url.Action("Index")">BUY/CANCEL</a></li>
            <li><a href="@Url.Action("Profile")">MY PROFILE</a></li>
            <li><a href="@Url.Action("Downloads")">DOWNLOADS</a></li>
            <li><a href="@Url.Action("TermsConditions")">TERMS AND CONDITIONS</a></li>
        </ul> <!-- end of portal user menu-->
        <div class="logoutSec fr clearfix">Hi user! <a href="">(logout)</a></div>
    </div>

    <div class="portalCont margin15">
        <h2>Terms and Conditions</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.<p>
        <p>You <b>Ben</b> accepted this terms and conditions at <b>October 1, 2013</b>.</p>
    </div>
</div>
