@model SODAPortalMvcApplication.ViewModel.changePasswordModel
@{
    ViewBag.Title = "changePassword";
    var username = Session["Username"].ToString().Substring(0, Session["Username"].ToString().IndexOf('@'));

}



<div class="container row portalContainer">

    <div class="portalWrap displayInline border">
        <div class="fr">
            <div class="logoutSec fr clearfix">Hi @username! @Html.ActionLink("(Logout)", "logout", "home")</div>
        </div>


        <div class="portalCont margin15">
            <div class="portalCont margin15">

                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h3 style="margin-top:0px !important; padding-top:0px !important;" class="panel-title"><strong>Change Password</strong></h3>
                    </div>
                    <div class="panel-body">
                        <h3>
                            For security reasons, you are required to change your password. Please input the fields below:
                        </h3>
                          @using(@Html.BeginForm("changepassword","home", FormMethod.Post,new{@class="formSignin border clearfix"}))
                          { 
                            <label>New Password</label><br />
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Enter password", style = "width:80%;" }) <br />
                            <label>Confirm New Password</label><br />
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Re-enter password", style = "width:70%;" })  
                              <br /> <br />
                                                                                                                                                                  
                            @*<label>New Password</label><br />
                            <input type="password" class="form-control" name="password" placeholder="Enter password" required style="width:80%;" /><br />*@
                            @*<label>Confirm New Password</label><br />
                            <input type="password" class="form-control" name="password" placeholder="Re-enter password" required style="width:80%;" />
                            <br /> <br />*@
                            <div class="clearfix">
                                <button style="width:80%;" type="submit" class="fl btn btn-lg btn-primary">Update</button>

                            </div>
                          }
                    </div>
                </div>


            </div>
        </div>

       
    </div>
</div>
