@{
    ViewBag.Title = "changepasswordemail";
    var CustomerName = ViewData["CustomerName"] as string;
    var Password = ViewData["Password"] as string;
    var username = ViewData["Username"] as string;
    var websiteUrl = "https://" + Request.Url.Host.Replace("portal","www");
    Layout = null;
}




<p>Dear @CustomerName,</p>
<p>&nbsp;</p>
<p>You have successfully changed your Safety On Demand password.<br /><br />Please use your new password to login to Safety On Demand. <br /><br />

    Your username is: @username <br />
    Your new password is: @Password
</p>
<p>&nbsp;</p>
<p>Sincerely,<br />The Safety On Demand Team</p> @websiteUrl
