@{
    ViewBag.Title = "emailforgotpassword";
}

<p>Hi @CustomerName,</p>
<p>&nbsp;</p>
<p>
    Your password is "test".<br /><br />
    Copy and paste the link below for Safety On Demand Login Page <br />
    http://portal.safetyondemand.com.au <br />
</p>
<p>&nbsp;</p>
<p>
    Regards,<br />
    SafetyOnDemand.com
</p>

