@{
    ViewBag.Title = "emailforgotpassword";
    var CustomerName = ViewData["CustomerName"] as string;
    var Password = ViewData["Password"] as string;
    var portalUrl = "http://" + Request.Url.Host;
    Layout = null;
}

<p>Hi @CustomerName,</p>
<p>&nbsp;</p>
<p>
    Your password is @Password.<br /><br />
    Copy and paste the link below for Safety On Demand Login Page <br />
    @portalUrl <br />
</p>
<p>&nbsp;</p>
<p>
    Regards,<br />
    SafetyOnDemand.com
</p>

