@{
    ViewBag.Title = "forgotpassword";
}
@if(TempData["ResetPassSent"] == null)
{ 
    using (@Html.BeginForm("forgotpassword", "Home", FormMethod.Post, new { @class = "formSignin border shadow" }))
    { 
        @Html.ValidationSummary(true)
        <h2 class="margin15">Forgot Password</h2>
        <label>Please enter your email address</label>
        <input type="text" autofocus="" required="" placeholder="Email address" class="form-control" name="Username">
        <p class="margin15"></p>
        <button type="submit" class="btn btn-lg btn-primary btn-block">Submit</button>
        <p>&nbsp;</p>
    
    }
}
else
{ 
//After submission an alert message will appear, like below:
<p>
Your account details have been emailed to you.

Note: There will be a link in the email to let you reset the password. Please reset it as soon as possible as the link will expire within 72 hours.
</p>

 }