@model SODAPortalMvcApplication.Models.ForgotPassModel
@{
    ViewBag.Title = "forgotpasswordemail";
    var link = ViewData["resetlink"] as string;
}

<h2>forgotpasswordemail</h2>
Click here to reset password @link