
@{
    ViewBag.Title = "forgotpasswordemail";
    Layout = null;
    var link = ViewData["resetlink"] as string;
}

<p>For security reasons, we do not send password by email. Instead, please click on the link below to reset your password. </p>

<a href="@link">Click here to reset</a>


<p>Regards,<br/>
SafetyOnDemand.com</p>