@{
    ViewBag.Title = "forgotpassword";
}
 

@if (TempData["ResetPassSent"] != null)
{
    <div style="margin: 5% 10% 2% 10%; text-align: center; font-size: 14px; color: #272727;" class="alert alert-warning">
        <p><span style="font-size:16px; font-weight:bold;">Please check your email!</span><br />

        @*Note: There will be a link in the email to let you reset the password. <br />Please reset it as soon as possible as the link will expire within 72 hours.*@
        Note: Email sent! Please check your email for your password.
        </p>
    </div>

}


    @using (@Html.BeginForm("forgotpassword", "Home", FormMethod.Post, new { @class = "formSignin border shadow" }))
    { 
       
        @Html.ValidationSummary(true)
        <h2 class="margin15">Forgot Password</h2>
        <label>Please enter your email address</label>
        <input type="text" autofocus="" required="" placeholder="Email address" class="form-control" name="Username">
        <p class="margin15"></p>
        <button type="submit" class="btn btn-lg btn-primary btn-block">Submit</button>
        <p>&nbsp;</p>
      
      
    }

