@{
    ViewBag.Title = "forgotpassword";
}
 

@if (TempData["ResetPassSent"] != null)
{
    <div style="margin: 5% 10% 2% 10%; text-align: center; font-size: 14px; color: #272727;" class="alert alert-warning">
        <p>
            <span style="font-size:16px; font-weight:bold;">Email sent!</span><br />

            @*Note: There will be a link in the email to let you reset the password. <br />Please reset it as soon as possible as the link will expire within 72 hours.*@
            Note:Please check your email for your password.<br /><br />
            Click <a href="http://@Request.Url.Host">here</a> to return to Login Page.
        </p>
    </div>

}


    @using (@Html.BeginForm("forgotpassword", "Home", FormMethod.Post, new { @class = "formSignin border shadow", style="max-width:480px;" }))
    { 
       
        @Html.ValidationSummary(true)
        <h2 class="margin15">Forgot Password</h2>
        <p>&nbsp;</p>
        <label>Please enter your email address</label>
        <input type="text" autofocus="" required="" placeholder="Email address" class="form-control" name="Username">
        <p class="margin15"></p>
        <p>&nbsp;</p>
        <div>
            <button style="width:180px;" type="submit" class="fl btn btn-lg btn-primary">Submit</button> 
            <a href="@Url.Action("index")"> <button style="width:180px;" type="button" class="fr btn btn-lg btn-primary" name="Cancel" value="cancel">Cancel</button></a>
        </div>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
      
       
      
    }

