@{
    ViewBag.Title = "Registration";
}

<form class="formRegistration border shadow">
    <h2 class="margin15">Sign up</h2>
    <label>First Name *</label>
    <input type="text" autofocus="" required="" placeholder="First Name" class="form-control">
    <label>Last Name *</label>
    <input type="text" autofocus="" required="" placeholder="Last Name" class="form-control">
    <label>Email Address *</label>
    <input type="text" autofocus="" required="" placeholder="Email Address" class="form-control">
    <label>Contact Number (optional)</label>
    <input type="text" autofocus="" required="" placeholder="Contact Number" class="form-control">
    <label>Company Name (optional)</label>
    <input type="text" autofocus="" required="" placeholder="Company Name" class="form-control">
    <label>Password</label>
    <input type="password" required="" placeholder="Password" class="form-control">
    <label>Confirm Password</label>
    <input type="password" required="" placeholder="Re-type Password" class="form-control">
    <p>&nbsp;</p>
    <div>
        <button style="width:200px;" type="submit" class="fl btn btn-lg btn-primary">Sign up</button>
        <button style="width:200px;" type="submit" class="fr btn btn-lg btn-primary">Cancel</button>
    </div>
    <div style="clear:none;"></div>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>A verification email will be sent to the user for verification. Once verified, the user been redirected the login page.</p>

</form>
