@{
    ViewBag.Title = "resetpassword";
}

@if (TempData["PasswordUpdated"] == null)
{
    using (@Html.BeginForm("resetpassword", "Home", FormMethod.Post, new { @class = "formSignin border shadow" }))
    {
        @Html.ValidationSummary(true)
        <h2 class="margin15" style="color: #F48518;">Reset Password</h2>
        <label>Enter New Password</label>
        <input type="password" required="" placeholder="Password" class="form-control" name="Password">
        <label>Confirm New Password</label>
        <input type="password" required="" placeholder="Re-type Password" class="form-control" name="ConfirmPassword">
        <p class="margin15"></p>
        <button type="submit" class="btn btn-lg btn-primary btn-block">Submit</button>
        <p>&nbsp;</p>

    }
}
 else
{
    <div>
        Password Changed click <a href="@TempData["PasswordUpdated"].ToString()">here</a> to access your account
    </div>
}
@*A message will display, like "Password Changed!"
<a href="portal.com">Log in</a> to access your account.*@ 